<section class="checkout">
    <div class="checkout__header">
        <div class="checkout__sale sale" id="go_to_pay">
            <div class="sale__title b">
                Twój plan jest gotowy
            </div>
            <div class="sale__time time">
                <div class="time__minutes minutes">
                    <div class="minutes__value b r"></div>
                    <div class="minutes__text g">
                        minut
                    </div>
                </div>
                <div class="time__points b">
                    :
                </div>
                <div class="time__seconds seconds">
                    <div class="seconds__value b r"></div>
                    <div class="seconds__text g">
                        sekund
                    </div>
                </div>
            </div>
            <button class="chekout__button_next scroll">
                <span class="b"> ODBIERZ MÓJ PLAN </span>
                <img src="img/icons/next.png" alt="next">
            </button>
        </div>
    </div>

    <div class="checkout__first">
        <h2 class="checkout__title b">
            Zacznij <span class="r b"> odchudzanie </span>
            <br>
            <span class="r b"> już </span> teraz
        </h2>
        <button class="chekout__button_next scroll">
            <span class="b"> ODBIERZ MÓJ PLAN </span>
            <img src="img/icons/next.png" alt="next">
        </button>
        <div class="checkout__featured">
            <p class="checkout__featured_desc g">
                Jak opisano w:
            </p>
            <img src="img/featured.png" alt="featured" class="checkout__featured_img">
        </div>
        <div class="checkout__main-bg">
            <img src="img/checkout.png" alt="checkout" class="checkout__checkout _show">
            <img src="img/checkout_M.png" alt="checkout_M" class="checkout_M__checkout">
            <div class="checkout__join_block">
                <ul class="checkout__stars">
                    <div class="checkout__star"></div>
                    <div class="checkout__star"></div>
                    <div class="checkout__star"></div>
                    <div class="checkout__star"></div>
                    <div class="checkout__star"></div>
                </ul>
                <p class="checkout__join_desc">
                    Dołącz do ponad <span class="r b"> 10,000,000 </span> członków
                    <br class="br_M">
                    rodziny Vean
                </p>
            </div>
        </div>
    </div>

    <div class="checkout__bg_container">
        <div class="checkout__second">
            <p class="checkout__second_title b">
                CO DOSTANIESZ
            </p>
            <div class="checkout__second_content">
                <ul class="checkout__gets">
                    <div class="checkout__get">
                        <img src="img/icons/weist.png" alt="weist">
                        <p>
                            <span class="b">
                                <span class="b r"> Plany Odchudzania: </span> dostosowany do twojego
                                organizmu
                            </span>
                            Nasze plany odchudzania tworzone są z udziałem ekspertów o wysokich
                            kwalifikacjach. Możesz nie znaleźć treningów, które nie pasują do Twojej
                            kondycji fizycznej lub mogą być dla Ciebie szkodliwe
                        </p>
                    </div>
                    <div class="checkout__get">
                        <img src="img/icons/meal.png" alt="weist">
                        <p>
                            <span class="b">
                                <span class="b r"> Plany Mąrych Posiłków: </span> nowe i zdrowe nawyki z
                                jedzeniem, które pokochasz!
                            </span>
                            Nie ma dobrego ani złego jedzenia. Wszystko dotyczy porcji i uważności. Nasze
                            plany żywieniowe nie są związane ze stresem. Przez cały program będziesz mieć
                            prawidłowe odżywianie, które odpowiada Twoim potrzebom
                        </p>
                    </div>
                    <div class="checkout__get">
                        <img src="img/icons/support.png" alt="weist">
                        <p>
                            <span class="b">
                                <span class="b r"> Codzienne wsparcie: </span> wsparcie i opieka na każdym
                                kroku
                            </span>
                            Wiemy, jak trudno jest osiągnąć Twój cel, dlatego nasz zespół wsparcia jest
                            zawsze w kontakcie. Nie wahaj się zadawać pytań
                        </p>
                    </div>
                </ul>
                <img src="img/checkout__get.png" alt="checkout__get" class="checkout__get_img">
            </div>
        </div>
    </div>

    <div class="checkout__third">
        <p class="checkout__third_title b">
            WYBIERZ SWÓJ PLAN
        </p>
        <div class="checkout__pay">
            <input id="7_DAY_TRIAL" type="radio" name="tarif" class="checkout__radio" data-price="4.00" checked>
            <label for="7_DAY_TRIAL" class="checkout__tarif tarif" name="tarif" data-tarif-id="trial.7.days.vean.pln">

                <div class="tarif__input-text">
                    <div class="tarif__point">
                        <div class="tarif__point_active"></div>
                    </div>
                    <p class="tarif__input_title b">
                        7 - DNIOWY OKRES PRÓBNY
                    </p>
                </div>

                <div class="tarif__price_container">
                    <div class="tarif__triangle"></div>
                    <div class="tarif__price_block">
                        <span class="trial__currenncy b"></span>
                        <span class="b">4</span>
                        <span class="tarif__additional">
                            <span class="tarif__fraction b">.00</span>
                            <span class="tarif__duration"> / 7 dni </span>
                        </span>

                        <span class="tarif__old_price b g"></span>
                    </div>
                </div>
            </label>

            <!-- <input id="2_MONTHS_PLAN" type="radio" name="tarif" class="checkout__radio " data-price="89.99">
<label for="2_MONTHS_PLAN" class="checkout__tarif tarif popular" name="tarif">
    <div class="tarif__popular b">
        MOST POPULAR
    </div>

    <div class="tarif__input-text">
        <div class="tarif__point">
            <div class="tarif__point_active"></div>
        </div>
        <p class="tarif__input_title b">
            2-MONTHS PLAN
        </p>
    </div>

    <div class="tarif__price_container">
        <div class="tarif__triangle"></div>
        <div class="tarif__price_block">
            <span class="trial__currenncy b">$</span>
            <span class="b">89</span>
            <span class="tarif__additional">
                <span class="tarif__fraction">.99</span>
                <span class="tarif__duration">/ 2 months</span>
            </span>
        </div>
    </div>
</label> -->

            <!-- <input id="1_MONTH_PLAN" type="radio" name="tarif" class="checkout__radio" data-price="29.99">
<label for="1_MONTH_PLAN" class="checkout__tarif tarif" name="tarif">

    <div class="tarif__input-text">
        <div class="tarif__point">
            <div class="tarif__point_active"></div>
        </div>
        <p class="tarif__input_title b">
            1-MONTH PLAN
        </p>
    </div>

    <div class="tarif__price_container">
        <div class="tarif__triangle"></div>
        <div class="tarif__price_block">
            <span class="trial__currenncy b">$</span>
            <span class="b">29</span>
            <span class="tarif__additional">
                <span class="tarif__fraction">.99</span>
                <span class="tarif__duration">/ month</span>
            </span>
        </div>
    </div>
</label> -->

            <button class="chekout__button_next js-open-modal target" data-modal="1">
                <span class="b"> ODBIERZ MÓJ PLAN </span>
                <img src="img/icons/next.png" alt="next">
            </button>
            <p class="checkout__desc g">
                Możesz anulować subskrypcję w dowolnym momencie
            </p>
            <div class="checkout__guarante">
                <p class="checkout__guarante_title b">
                    Gwarantowana Bezpieczna Płatność
                </p>
                <img src="img/guarante.png" alt="guarante" class="checkout__guarante_img">
            </div>
        </div>
    </div>

    <div class="checkout__bg_container_second">
        <div class="checkout__fourth">
            <p class="checkout__fourth_title b">
                Ludzie tacy jak Ty osiągnęli świetne wyniki, korzystając z naszych <span class="b r"> Plany
                    odchudzania </span>
            </p>
            <p class="checkout__fourth_desc">
                Jesteśmy dumni z tych wyników i nie możemy się doczekać twoich!
            </p>

            <div class="swiper swiper_1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper__weight">
                            <p class="swiper__value b">-10</p>
                            <p class="swiper__unit b"> lbs </p>
                        </div>
                        <div class="swiper__ba">
                            <div class="swiper__before">
                                <img src="img/b1.png" alt="before" class="swiper__before_img">
                                <p class="swiper__before_desc">
                                    przed
                                </p>
                            </div>
                            <div class="swiper__after">
                                <img src="img/a1.png" alt="after" class="swiper__after_img">
                                <p class="swiper__after_desc">
                                    po
                                </p>
                            </div>
                        </div>

                        <p class="swiper__name b">
                            Steve
                        </p>

                        <p class="swiper__letter">
                            Jestem zwykłym facetem, który chciał zrzucić zbędne kilogramy z okolic bioder -
                            wiecie, te &quot;schabiki&quot;, które - jak próbujemy sobie wmówić - kochają
                            kobiety. Oczywiście oszukujemy samych siebie... Nadeszła pora na działanie.
                            Jestem kiepski w robieniu list i tym podobnych rzeczy, więc to jest naprawdę
                            niezły program, ponieważ śledzi wszystko - ilość wypijanej wody, jedzenia,
                            kalorie... no, naprawdę wszystko. Jeśli chodzi o mnie, to jak na razie jest
                            bardzo dobrze - program robi to, co obiecuje: pomaga mi schudnąć dzięki
                            indywidualnemu wsparciu i treningom. Poza tym to świetna zabawa, która napędza
                            mnie jak mały samochodzik 💪.
                        </p>
                        <div class="swiper__letter_container"></div>
                        <div class="swiper__more _show"></div>
                        <p class="swiper__button _show b o">
                            więcej
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <div class="swiper__weight">
                            <p class="swiper__value b">-11</p>
                            <p class="swiper__unit b"> lbs </p>
                        </div>
                        <div class="swiper__ba">
                            <div class="swiper__before">
                                <img src="img/b2.png" alt="before" class="swiper__before_img">
                                <p class="swiper__before_desc">
                                    przed
                                </p>
                            </div>
                            <div class="swiper__after">
                                <img src="img/a2.png" alt="after" class="swiper__after_img">
                                <p class="swiper__after_desc">
                                    po
                                </p>
                            </div>
                        </div>

                        <p class="swiper__name b">
                            Gus
                        </p>

                        <p class="swiper__letter">
                            Wiecie jak to jest - odchudzanie to coś, co zawsze odkładamy na następny
                            miesiąc...następny rok... Dla mnie nadszedł już czas - zwłaszcza kiedy odkryłem
                            Vean. Oni oferują wszystko: quiz i indywidualny plan, mobilizującego trenera
                            personalnego, osiągalne cele... i wyzwania. Obczajcie zdjęcia: ciągły i pewny
                            spadek wagi w ciągu 2 tygodni. Tego właśnie szukałem! Chcę wyrobić sobie nawyk
                            zdrowego stylu życia, zdrowego odżywiania i utrzymywania stałej wagi. To niezłe
                            wyzwanie, ale ten plan naprawdę pomaga!
                        </p>
                        <div class="swiper__letter_container"></div>
                        <div class="swiper__more _show">

                        </div>
                        <p class="swiper__button _show b o">
                            więcej
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <div class="swiper__weight">
                            <p class="swiper__value b">-22</p>
                            <p class="swiper__unit b"> lbs </p>
                        </div>
                        <div class="swiper__ba">
                            <div class="swiper__before">
                                <img src="img/b3.png" alt="before" class="swiper__before_img">
                                <p class="swiper__before_desc">
                                    przed
                                </p>
                            </div>
                            <div class="swiper__after">
                                <img src="img/a3.png" alt="after" class="swiper__after_img">
                                <p class="swiper__after_desc">
                                    po
                                </p>
                            </div>
                        </div>

                        <p class="swiper__name b">
                            Mario
                        </p>

                        <p class="swiper__letter">
                            Zawsze uważałem nadwagę za coś normalnego... ale nie staję się już młodszy i
                            chciałem zrobić coś dobrego - wyrobić w sobie wreszcie jakieś dobre nawyki. Vean
                            nie tylko pomógł mi wypracować zdrowe odżywianie, ale także uczę się innych
                            rzeczy! Do tego jest prosty w obsłudze - jak dla mnie! Na początku wahałem się
                            co do osobistego coachingu, ale w sumie jest to mega motywujące. Podobają mi się
                            też wyzwania, dobrze jest mieć osiągalne cele!!! Mi się udało - tobie też może
                            się udać!!!
                        </p>
                        <div class="swiper__letter_container"></div>
                        <div class="swiper__more _show">

                        </div>
                        <p class="swiper__button _show b o">
                            więcej
                        </p>
                    </div>
                </div>
                <div class="swiper-pagination"></div>

            </div>

            <p class="checkout__fourth_desc g">
                <span class="b g"> *Zastrzeżenie: </span> Przestrzeganie ćwiczeń i planu posiłków jest
                kluczem do Twojej podróży fitness i ma duży wpływ na wyniki. To niezwykłe, że traci się
                więcej niż 4 kg miesięcznie. Najpierw skonsultuj się z lekarzem.
            </p>
        </div>
    </div>

    <div class="checkout__bg_container">
        <div class="checkout__fifth">
            <p class="checkout__fifth_title b">
                Użytkownicy <span class="b r"> kochają </span> nasze plany
            </p>
            <p class="checkout__fifth_desc g">
                Sprawdź co ludzie o nas mówią
            </p>

            <div class="swiper swiper_2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <p class="swiper__title b">
                            &quot;Bezpieczna i działająca próba&quot;
                        </p>
                        <div class="swiper__letter_container">
                            <p class="swiper__letter">
                                Co mogę powiedzieć? 7 dni mojego okresu próbnego i
                                <span class="swiper__value">2</span> <span class="swiper__unit"> lbs </span>
                                zgubiony, to świetnie i bezpiecznie! Nic spektakularnego — żadnych cudów, po prostu
                                dobre, stałe wyniki. I lubię to. Kontynuuję subskrypcję, ponieważ mam więcej masy do
                                zrzucenia.
                            </p>
                            <div class="swiper__more _show"></div>
                            <p class="swiper__button _show b o">
                                więcej
                            </p>
                        </div>
                        <img src="img/av1.png" alt="avatar" class="swiper__av">
                        <p class="swiper__results b">
                            Jan, <span class="b g"> — <span class="swiper__value">2</span> <span class="swiper__unit">
                                    lbs </span> / okres próbny </span>
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <p class="swiper__title b">
                            &quot;Jedzenie bez ograniczeń
                            <br>
                            i dobre wyniki&quot;
                        </p>
                        <div class="swiper__letter_container">
                            <p class="swiper__letter">
                                Wypróbowałem więcej programów dietetycznych niż wypiłem piw po zmianie.
                                Właściwie już się poddałem...., ale wtedy jeden magazynier polecił mi Vean.
                                I wiecie co? Jest całkiem niezły (a jestem wielkim sceptykiem). W pierwszym
                                tygodniu zrzuciłem kilka kilogramów, co bardzo mnie ucieszyło... i
                                zmotywowało do dalszego działania. Vean ma rozsądną cenę i zapewnia
                                konkretne rezultaty dzięki spersonalizowanemu programowi, który NAPRAWDĘ
                                DZIAŁA! A najlepsze jest to, że nadal mogę napić się piwa... 🔥
                            </p>
                            <div class="swiper__more _show"></div>
                            <p class="swiper__button _show b o">
                                więcej
                            </p>
                        </div>
                        <img src="img/av2.png" alt="avatar" class="swiper__av">
                        <p class="swiper__results b">
                            Filip, <span class="b g"> — <span class="swiper__value">9</span> <span
                                    class="swiper__unit"> lbs </span> / 2weeks </span>
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <p class="swiper__title b">
                            &quot;Moje beach body jest już gotowe&quot;
                        </p>
                        <div class="swiper__letter_container">
                            <p class="swiper__letter">
                                Oczywiście gramy w piłkę tylko dla zabawy... ale mimo to chcemy dać z siebie
                                wszystko i nie zawieść drużyny. No nie? Dla mnie oznaczało to zrzucenie
                                zbędnych kilogramów przed rozpoczęciem sezonu. Znalazłem Vean przez
                                przypadek, ale rezultaty są zupełnie nieprzypadkowe: indywidualny plan,
                                dostosowana dieta, a nawet wsparcie online - solidna sprawa. Bezpieczna,
                                stała i widoczna utrata wagi. To jest mistrzostwo!
                            </p>
                            <div class="swiper__more _show"></div>
                            <p class="swiper__button _show b o">
                                więcej
                            </p>
                        </div>
                        <img src="img/av3.png" alt="avatar" class="swiper__av">
                        <p class="swiper__results b">
                            Stanisław, <span class="b g"> — <span class="swiper__value">12</span> <span class="swiper__unit">
                                    lbs </span></span>
                        </p>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="checout__sixth">
            <p class="checout__sixth_title b">
                Ludzie Często Pytają
            </p>

            <div class="checkout__FQAs">
                <div class="checkout__FQA FQA">
                    <div class="FQA__default">
                        <div class="FQA__title_wrap">
                            <img src="img/icons/FQA_icon.png" alt="FQA" class="FQA__icon">
                            <p class="FQA__title b">
                                Martwię się, że w połowie zrezygnuję z Planu Wyżywienia.
                            </p>
                        </div>
                        <div class="FQA__arrow"></div>
                    </div>
                    <p class="FQA__opened g">
                        Całkowicie to rozumiemy i dlatego zadbaliśmy o to, aby nasze Plany posiłków były jak
                        najbardziej zbliżone do zwykłego menu. Wierzymy, że nawet ci, którzy żywią się fast
                        foodami, będą zadowoleni zarówno z posiłków, jak i wyników, i nigdy nie będą
                        odczuwać głodu.
                    </p>
                </div>

                <div class="checkout__FQA FQA">
                    <div class="FQA__default">
                        <div class="FQA__title_wrap">
                            <img src="img/icons/FQA_icon.png" alt="FQA" class="FQA__icon">
                            <p class="FQA__title b">
                                Nie chcę rezygnować ze słodyczy! </p>
                        </div>
                        <div class="FQA__arrow"></div>
                    </div>
                    <p class="FQA__opened g">
                        I nie musisz. Wiemy, że trudno jest pozbyć się słodyczy i włączyliśmy do planu
                        posiłków słodkie dania. Wybraliśmy zbilansowane słodycze.
                    </p>
                </div>

                <div class="checkout__FQA FQA">
                    <div class="FQA__default">
                        <div class="FQA__title_wrap">
                            <img src="img/icons/FQA_icon.png" alt="FQA" class="FQA__icon">
                            <p class="FQA__title b">
                                Możesz schudnąć bez ćwiczeń? </p>
                        </div>
                        <div class="FQA__arrow"></div>
                    </div>
                    <p class="FQA__opened g">
                        Jasne! Odżywianie jest najważniejszym elementem odchudzania. Jeśli jednak włączysz
                        treningi, twoje ciało stanie się bardziej stonowane i zdefiniowane. Wiemy, że jest
                        dużo do wykonania, a treningi są niezwykle łatwe, odpowiednie dla początkujących i
                        nie zajmą prawie żadnego czasu.
                    </p>
                </div>

            </div>

            <div class="checkout__guarantee">
                <p class="checkout__guarantee_title">
                    <img src="img/guarantee_M.png" alt="guarantee" class="checkout__guarantee_img">
                    <span class="b">
                        30-Dniowy Zwrot Pieniędzy Gwarantowany
                    </span>
                </p>
                <div class="checkout__guarantee_content">
                    <p>
                        Wierzymy, że nasz plan może działać dla Ciebie, a widoczne rezultaty uzyskasz już w
                        4 tygodnie! Jesteśmy nawet gotowi zwrócić Ci pieniądze, jeśli nie widzisz widocznych
                        wyników i możesz wykazać, że postępowałeś zgodnie z naszym planem.
                    </p>
                    <img src="img/guarantee.png" alt="guarantee" class="checkout__guarantee_img">
                </div>
            </div>
            <p class="checkout__note g">
                <span class="b g"> PAMIETAJ: </span> Po tygodniowej ofercie wstępnej, o ile nie anulujesz
                online w swoim profilu przed końcem bieżącego okresu, Twój plan zostanie automatycznie
                przekonwertowany na nasz 2-miesięczny plan subskrypcji w cenie bez rabatu i zostanie
                naliczona opłata <span class="note__cost g"></span> 363 co 2 miesiące przed anulowaniem.
                Subskrypcje odnawiają się automatycznie na koniec każdego okresu, chyba że anulujesz je
                online w swoim profilu. Jeśli nie masz pewności, jak anulować, zapoznaj się z naszymi
                Warunkami subskrypcji. Wymagana przedpłata całkowitego kosztu planu.
            </p>
        </div>

        <button class="chekout__button_next scroll">
            <span class="b"> ODBIERZ MÓJ PLAN </span>
            <img src="img/icons/next.png" alt="next">
        </button>
    </div>
</section>
