<section class="contacts">
    <div class="contacts__bg"></div>
    <div class="contacts__content">
        <img src="img/Firecracker.png" alt="Firecracker" class="contacts__firecracker">
        <h3 class="contacts__title b _show">
            Podaj swój email aby otrzymać swój
            <br>
            <span class="r b"> Fitness Plan </span> z Vean
        </h3>
        <h3 class="contacts__title_M b">
            Podaj swój adres email i dowiedz się jak <span class="r b"> schudnąć </span> z Vean
        </h3>
        <div class="contacts__respect">
            <img src="img/icons/Lock.png" alt="Lock">
            <p class="contacts__desc g">
                Szanujemy Twoją prywatność i zobowiązujemy się do ochrony Twoich danych osobowych. Wyślemy
                Ci kopię wyników, abyś mieł do nich wygodny dostęp.
            </p>
        </div>
        <input type="email" placeholder="Podaj email " class="contacts__email test__input" name="email"
            id="email">
        <div class="test__uncorrect r b">
            Podaj, proszę, poprawny email adres.
        </div>
        <button class="test__button_next" disabled>
            <span class="b"> KOLEJNY KROK </span>
            <img src="img/icons/next.png" alt="next">
        </button>
    </div>
</section>
