<article class="loader">
    <div class="loader__wrapper">
        <div id="loader" class="myBar label-center" style="width: 100%; height: 100%;"></div>
    </div>
    <div class="loader__titles">
        <h2 class="loader__title" data-pos="0">
            Przetwarzanie twoich odpowiedzi
        </h2>
        <h2 class="loader__title" data-pos="1">
            Analiza twojego profilu dietetycznego
        </h2>
        <h2 class="loader__title" data-pos="2">
            Estymacja twojego wieku metabolicznego
        </h2>
        <h2 class="loader__title" data-pos="3">
            Adaptacja planu do twojego stylu życia
        </h2>
        <h2 class="loader__title" data-pos="4">
            Wybór dopasowanych przepisów
        </h2>
        <h2 class="loader__title" data-pos="5">
            Twój spersonalizowany plan posiłków i treningów jest gotowy!
        </h2>
    </div>
</article>
