<section class="plan">
    <div class="plan__first">
        <h2 class="plan__title _show b">
            Get your <span class="r b">Personal</span>
            <br>
            Weight Loss Plan
        </h2>
        <h2 class="plan__title_M b">
            Your <span class="r b">Personal</span>
            <br>
            Weight Loss Plan
        </h2>
        <button class="test__button_next">
            <span  class="b">GET MY PLAN</span>
            <img src="img/icons/next.png" alt="next">
        </button>
        <img src="img/plan.png" alt="plan" class="plan__plan">
    </div>

    <div class="plan__light_container">
        <div class="plan__second">
            <p class="plan__second_title b">
                Based on your answers, you&#160;will&#160;be...
            </p>
            <div class="plan__weight">
                <span class="plan__goal_weight b" data-goal_weight="-2"></span>
                <span class="plan__goal_weight b" data-goal_weight="-1"></span>
                <span class="plan__goal_weight b" data-goal_weight="0"></span>
                <span class="plan__goal_weight b" data-goal_weight="1"></span>
                <span class="plan__goal_weight b" data-goal_weight="2"></span>
            </div>
            <p class="plan__unit_type b"></p>
            <p class="plan__goal_date b">by </p>

            <div class="plan__graph_up">
                <img src="img/plan__graph_up.png" alt="plan__graph_up" class="plan__graph">
                <div class="plan__start_point">
                    <p class="plan__start_weight d b"></p>
                    <p class="plan__start_weight_type d b"></p>
                </div>
                <div class="plan__goal_point">
                    Goal
                    <br>
                    Weight
                </div>
                <div class="plan__graph_dates">
                    <div class="plan__graph_date_1"></div>
                    <div class="plan__graph_date_2"></div>
                    <div class="plan__graph_date_3"></div>
                </div>
            </div>

            <div class="plan__graph_doun">
                <img src="img/plan__graph_doun.png" alt="plan__graph_doun" class="plan__graph">
                <div class="plan__start_point">
                    <p class="plan__start_weight d b"></p>
                    <p class="plan__start_weight_type d b"></p>
                </div>
                <div class="plan__goal_point b">
                    Goal
                    <br>
                    Weight
                </div>
                <div class="plan__graph_dates">
                    <div class="plan__graph_date_1 b"></div>
                    <div class="plan__graph_date_2 b"></div>
                    <div class="plan__graph_date_3 b">by </div>
                </div>
            </div>
        </div>
    </div>


    <div class="plan__third">
        <div class="plan__results">
            <p class="plan__results_title b">
                <span class="r b">Long-Lasting Results</span>
                <br>
                With a Personal Plan
            </p>
            <div class="plan__similar">
                <div class="staticBar" style="width: 72px; height: 72px;"></div>
                <div class="plan__simuler_desc">
                    <p>
                        of people with similar profiles
                    </p>
                    <p class="b">
                        lost weight using Vean plans
                    </p>
                </div>
            </div>
        </div>
        <p class="plan__summary_title b">
            Personal Summary
        </p>
        <div class="plan__summary">
            <div class="plan__recommendation recommendation">
                <div class="recommendation__top">
                    <span class="recommendation__title b">
                        BMI
                    </span>
                    <span class="recommendation__conclusion healthy b o">Healthy</span>
                </div>
                <div class="recommendation__desc g">
                    Your BMI
                </div>
                <div class="recommendation__BMI_range">
                    <div class="recommendation__BMI_input" data-BMI="0"></div>
                </div>
                <div class="recommendation__minmax">
                    <span class="recommendation__min b g">
                        10
                    </span>
                    <span class="recommendation__max b g">
                        60
                    </span>
                </div>
            </div>
            <div class="plan__recommendation recommendation">
                <div class="recommendation__top">
                    <span class="recommendation__title b">
                        Water
                    </span>
                    <span class="recommendation__conclusion water b o">Intake </span>
                </div>
                <div class="recommendation__desc g">
                    Recommended Water
                </div>
                <div class="recommendation__glasses">
                    <img src="img/glass.png" alt="glass" class="recommendation__glass">
                    <img src="img/glass.png" alt="glass" class="recommendation__glass">
                    <img src="img/glass.png" alt="glass" class="recommendation__glass">
                    <img src="img/glass.png" alt="glass" class="recommendation__glass">
                    <img src="img/glass.png" alt="glass" class="recommendation__glass">
                    <img src="img/glass.png" alt="glass" class="recommendation__glass">
                    <img src="img/glass.png" alt="glass" class="recommendation__glass">
                    <img src="img/glass.png" alt="glass" class="recommendation__glass">
                    <img src="img/glass.png" alt="glass" class="recommendation__glass">
                    <img src="img/glass.png" alt="glass" class="recommendation__glass">
                </div>
            </div>
            <div class="plan__recommendation recommendation">
                <div class="recommendation__top">
                    <span class="recommendation__title b">
                        Calories
                    </span>
                    <span class="recommendation__conclusion cal b o"> Cal</span>
                </div>
                <div class="recommendation__desc g">
                    Recommended Daily
                </div>
                <div class="recommendation__calories_range">
                    <div class="recommendation__calories_input" data-calories=" Cal"></div>
                </div>
                <div class="recommendation__minmax">
                    <span class="recommendation__min b g">
                        1000 Cal
                    </span>
                    <span class="recommendation__max b g">
                        5000 Cal
                    </span>
                </div>
            </div>
            <div class="plan__recommendation recommendation excited">
                <div class="recommendation__container">
                    <p class="recommendation__title b">
                        Get excited!
                    </p>
                    <p class="recommendation__desc g">
                        Here’s how we predict your body will change.
                    </p>
                </div>
                <div>
                    <hr class="recommendation__gray_line">
                    <div class="recommendation__b_a">
                        <img src="img/plan__before.png" alt="plan__before" class="plan__before">
                        <img src="img/plan__after.png" alt="plan__after" class="plan__after">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="test__button_next">
        <span  class="b">CONTINUE</span>
        <img src="img/icons/next.png" alt="next">
    </button>
</section>
