<section class="checkout">
    <div class="checkout__header">
        <div class="checkout__sale sale" id="go_to_pay">
            <div class="sale__title b">
                Váš plán je rezervovaný
            </div>
            <div class="sale__time time">
                <div class="time__minutes minutes">
                    <div class="minutes__value b r"></div>
                    <div class="minutes__text g">
                        minut
                    </div>
                </div>
                <div class="time__points b">
                    :
                </div>
                <div class="time__seconds seconds">
                    <div class="seconds__value b r"></div>
                    <div class="seconds__text g">
                        vteřin
                    </div>
                </div>
            </div>
            <button class="chekout__button_next scroll">
                <span class="b"> ZÍSKAT MŮJ PLÁN </span>
                <img src="img/icons/next.png" alt="next">
            </button>
        </div>
    </div>

    <div class="checkout__first">
        <h2 class="checkout__title b">
            Začněte <span class="r b"> hubnout </span>
            <br>
            <span class="r b"> kila </span> hned teď
        </h2>
        <button class="chekout__button_next scroll">
            <span class="b"> ZÍSKAT MŮJ PLÁN </span>
            <img src="img/icons/next.png" alt="next">
        </button>
        <div class="checkout__featured">
            <p class="checkout__featured_desc g">
                Znáte z:
            </p>
            <img src="img/featured.png" alt="featured" class="checkout__featured_img">
        </div>
        <div class="checkout__main-bg">
            <img src="img/checkout.png" alt="checkout" class="checkout__checkout _show">
            <img src="img/checkout_M.png" alt="checkout_M" class="checkout_M__checkout">
            <div class="checkout__join_block">
                <ul class="checkout__stars">
                    <div class="checkout__star"></div>
                    <div class="checkout__star"></div>
                    <div class="checkout__star"></div>
                    <div class="checkout__star"></div>
                    <div class="checkout__star"></div>
                </ul>
                <p class="checkout__join_desc">
                    Přidejte se k více než <span class="r b"> 10,000,000 </span> členům
                    <br class="br_M">
                    rodiny Vean
                </p>
            </div>
        </div>
    </div>

    <div class="checkout__bg_container">
        <div class="checkout__second">
            <p class="checkout__second_title b">
                CO ZÍSKÁTE
            </p>
            <div class="checkout__second_content">
                <ul class="checkout__gets">
                    <div class="checkout__get">
                        <img src="img/icons/weist.png" alt="weist">
                        <p>
                            <span class="b">
                                <span class="b r"> Plány na hubnutí: </span> přizpůsobené vašemu tělu
                            </span>
                            Naše programy na hubnutí vytvořili odborníci s vysokou kvalifikací. Jinde byste
                            mohli najít tréninky, které nesednou vaší fyzické kondici, nebo by vám mohly
                            ublížit
                        </p>
                    </div>
                    <div class="checkout__get">
                        <img src="img/icons/meal.png" alt="weist">
                        <p>
                            <span class="b">
                                <span class="b r"> Chytré jídelníčky: </span> nové a zdravé stravovací
                                návyky, které si zamilujete!
                            </span>
                            Neexistují dobré a špatné potraviny. Vše je o velikosti porcí a rozumném
                            přístupu. Naše jídelníčky vás nebudou stresovat. V našem programu najdete zdravé
                            recepty, které naplní vaše potřeby
                        </p>
                    </div>
                    <div class="checkout__get">
                        <img src="img/icons/support.png" alt="weist">
                        <p>
                            <span class="b">
                                <span class="b r"> Každodenní podpora: </span> podpora a péče po celou dobu
                                programu
                            </span>
                            Víme, že je někdy těžké dosáhnout cílů a proto je vám stále k dispozici náš tým
                            podpory. Neváhejte se na nás s čímkoli obrátit.
                        </p>
                    </div>
                </ul>
                <img src="img/checkout__get.png" alt="checkout__get" class="checkout__get_img">
            </div>
        </div>
    </div>

    <div class="checkout__third">
        <p class="checkout__third_title b">
            VYBERTE SI SVŮJ PLÁN
        </p>
        <div class="checkout__pay">
            <input id="7_DAY_TRIAL" type="radio" name="tarif" class="checkout__radio" data-price="22.49" checked>
            <label for="7_DAY_TRIAL" class="checkout__tarif tarif" name="tarif" data-tarif-id="trial.7.days.vean.czk">

                <div class="tarif__input-text">
                    <div class="tarif__point">
                        <div class="tarif__point_active"></div>
                    </div>
                    <p class="tarif__input_title b">
                        7DENNÍ ZKUŠEBNÍ DOBA
                    </p>
                </div>

                <div class="tarif__price_container">
                    <div class="tarif__triangle"></div>
                    <div class="tarif__price_block">
                        <span class="trial__currenncy b"></span>
                        <span class="b">22</span>
                        <span class="tarif__additional">
                            <span class="tarif__fraction b">.49</span>
                            <span class="tarif__duration"> / 7 dní </span>
                        </span>

                        <span class="tarif__old_price b g"></span>
                    </div>
                </div>
            </label>

            <!-- <input id="2_MONTHS_PLAN" type="radio" name="tarif" class="checkout__radio " data-price="89.99">
<label for="2_MONTHS_PLAN" class="checkout__tarif tarif popular" name="tarif">
    <div class="tarif__popular b">
        MOST POPULAR
    </div>

    <div class="tarif__input-text">
        <div class="tarif__point">
            <div class="tarif__point_active"></div>
        </div>
        <p class="tarif__input_title b">
            2-MONTHS PLAN
        </p>
    </div>

    <div class="tarif__price_container">
        <div class="tarif__triangle"></div>
        <div class="tarif__price_block">
            <span class="trial__currenncy b">$</span>
            <span class="b">89</span>
            <span class="tarif__additional">
                <span class="tarif__fraction">.99</span>
                <span class="tarif__duration">/ 2 months</span>
            </span>
        </div>
    </div>
</label> -->

            <!-- <input id="1_MONTH_PLAN" type="radio" name="tarif" class="checkout__radio" data-price="29.99">
<label for="1_MONTH_PLAN" class="checkout__tarif tarif" name="tarif">

    <div class="tarif__input-text">
        <div class="tarif__point">
            <div class="tarif__point_active"></div>
        </div>
        <p class="tarif__input_title b">
            1-MONTH PLAN
        </p>
    </div>

    <div class="tarif__price_container">
        <div class="tarif__triangle"></div>
        <div class="tarif__price_block">
            <span class="trial__currenncy b">$</span>
            <span class="b">29</span>
            <span class="tarif__additional">
                <span class="tarif__fraction">.99</span>
                <span class="tarif__duration">/ month</span>
            </span>
        </div>
    </div>
</label> -->

            <button class="chekout__button_next js-open-modal target" data-modal="1">
                <span class="b"> ZÍSKAT MŮJ PLÁN </span>
                <img src="img/icons/next.png" alt="next">
            </button>
            <p class="checkout__desc g">
                Odběr můžete kdykoli odhlásit
            </p>
            <div class="checkout__guarante">
                <p class="checkout__guarante_title b">
                    Garance bezpečné platby
                </p>
                <img src="img/guarante.png" alt="guarante" class="checkout__guarante_img">
            </div>
        </div>
    </div>

    <div class="checkout__bg_container_second">
        <div class="checkout__fourth">
            <p class="checkout__fourth_title b">
                Lidé jako vy už dosáhli skvělých výsledků s našimi <span class="b r"> programy na hubnutí
                </span>
            </p>
            <p class="checkout__fourth_desc">
                Jsme pyšní na jejich výsledky a nemůžeme se dočkat těch vašich!
            </p>

            <div class="swiper swiper_1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper__weight">
                            <p class="swiper__value b">-10</p>
                            <p class="swiper__unit b"> lbs </p>
                        </div>
                        <div class="swiper__ba">
                            <div class="swiper__before">
                                <img src="img/b1.png" alt="before" class="swiper__before_img">
                                <p class="swiper__before_desc">
                                    před
                                </p>
                            </div>
                            <div class="swiper__after">
                                <img src="img/a1.png" alt="after" class="swiper__after_img">
                                <p class="swiper__after_desc">
                                    po
                                </p>
                            </div>
                        </div>

                        <p class="swiper__name b">
                            Marek
                        </p>

                        <p class="swiper__letter">
                            Vždycky jsem svoji nadváhu bral jako něco normálního… ale mladší už nebudu a chtěl jsem pro
                            sebe udělat něco pozitivního – vytvořit si konečně zdravé návyky. Vean mi pomohl nejen začít
                            jíst zdravě, ale také jsem se toho spoustu naučil! Navíc se tento program opravdu snadno
                            používá – i pro mě! Byl jsem ze začátku trochu váhavý ohledně osobního kouče, ale ve
                            skutečnosti je to opravdu motivující. Miluji i ty výzvy, je dobré mít snadno dosažitelné
                            cíle!!! Opravdu jsem to zvládl – a vy můžete taky!!!
                        </p>
                        <div class="swiper__letter_container"></div>
                        <div class="swiper__more _show"></div>
                        <p class="swiper__button _show b o">
                            více
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <div class="swiper__weight">
                            <p class="swiper__value b">-11</p>
                            <p class="swiper__unit b"> lbs </p>
                        </div>
                        <div class="swiper__ba">
                            <div class="swiper__before">
                                <img src="img/b2.png" alt="before" class="swiper__before_img">
                                <p class="swiper__before_desc">
                                    před
                                </p>
                            </div>
                            <div class="swiper__after">
                                <img src="img/a2.png" alt="after" class="swiper__after_img">
                                <p class="swiper__after_desc">
                                    po
                                </p>
                            </div>
                        </div>

                        <p class="swiper__name b">
                            Pavel
                        </p>

                        <p class="swiper__letter">
                            Jsem obyčejný chlap, který chtěl zhubnout několik kilo v oblasti boků – znáte to, „madla
                            lásky“, o kterých někteří muži tvrdí, že se ženám líbí. Samozřejmě to není pravda… bylo na
                            čase s tím něco dělat. Nemám moc vlohy na dodržování seznamů, takže pro mě tento program byl
                            opravdu skvělý – sleduje všechno za vás, vodu, jídlo, kalorie… prostě všechno. Osobně bych
                            řekl, že je to zatím opravdu úžasné – program dělá přesně to, co tvrdí: pomáhá mi hubnout s
                            osobní podporou a tréninky. Je to navíc i zábavné, což mi dodává sílu pustit se do toho
                            naplno 💪.
                        </p>
                        <div class="swiper__letter_container"></div>
                        <div class="swiper__more _show">

                        </div>
                        <p class="swiper__button _show b o">
                            více
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <div class="swiper__weight">
                            <p class="swiper__value b">-22</p>
                            <p class="swiper__unit b"> lbs </p>
                        </div>
                        <div class="swiper__ba">
                            <div class="swiper__before">
                                <img src="img/b3.png" alt="before" class="swiper__before_img">
                                <p class="swiper__before_desc">
                                    před
                                </p>
                            </div>
                            <div class="swiper__after">
                                <img src="img/a3.png" alt="after" class="swiper__after_img">
                                <p class="swiper__after_desc">
                                    po
                                </p>
                            </div>
                        </div>

                        <p class="swiper__name b">
                            Tomáš
                        </p>

                        <p class="swiper__letter">
                            Pánové, jistě víte, jak to je – hubnutí je něco, co neustále odkládáme na příští měsíc…
                            příští rok… Pro mě už bylo opravdu na čase něco dělat – hlavně když jsem objevil Vean. Tento
                            program má skutečně všechno: kvíz, personalizovaný plán, motivačního osobního kouče,
                            naprosto zvladatelné cíle… A také výzvy. Podívejte se na fotky: pomalu, ale jistě jsem
                            zhubnul už za 2 týdny. Přesně to, co jsem hledal! Opravdu se snažím dodržovat zdravý životní
                            styl, jíst dobré jídlo a udržovat si váhu. Je to výzva, ale tento program mi pomáhá!
                        </p>
                        <div class="swiper__letter_container"></div>
                        <div class="swiper__more _show">

                        </div>
                        <p class="swiper__button _show b o">
                            více
                        </p>
                    </div>
                </div>
                <div class="swiper-pagination"></div>

            </div>

            <p class="checkout__fourth_desc g">
                <span class="b g"> * Vyloučení odpovědnosti: </span> Dodržování cvičení a zdravé stravy je
                pro hubnutí nezbytné a výrazně ovlivňuje vaše výsledky. Většina lidí nezhubne více než 4 kg
                za měsíc. Před začátkem programu se poraďte s lékařem.
            </p>
        </div>
    </div>

    <div class="checkout__bg_container">
        <div class="checkout__fifth">
            <p class="checkout__fifth_title b">
                Uživatelé <span class="b r"> milují </span> naše programy
            </p>
            <p class="checkout__fifth_desc g">
                Podívejte se, co o nás říkají ostatní lidé
            </p>

            <div class="swiper swiper_2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <p class="swiper__title b">
                            «Bezpečná a efektivní zkušební doba»
                        </p>
                        <div class="swiper__letter_container">
                            <p class="swiper__letter">
                                Co bych řekla? Jsem z Vean nadšená: 7 dní zkušební doby a
                                <span class="swiper__value">2</span> <span class="swiper__unit"> kg </span>
                                dole, je to bezpečné a skvělé! Není to žádný zázrak - jen spolehlivé
                                výsledky. A to se mi na tom líbí. Budu s programem pokračovat, ještě chci
                                pár kilo shodit.
                            </p>
                            <div class="swiper__more _show"></div>
                            <p class="swiper__button _show b o">
                                více
                            </p>
                        </div>
                        <img src="img/av1.png" alt="avatar" class="swiper__av">
                        <p class="swiper__results b">
                            Jitka <span class="b g"> - <span class="swiper__value">2</span> <span class="swiper__unit">
                                    lbs </span> / zkušební doba </span>
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <p class="swiper__title b">
                            «Žádné zakázané potraviny
                            <br>
                            a skvělé výsledky»
                        </p>
                        <div class="swiper__letter_container">
                            <p class="swiper__letter">
                                Zkoušel jsem více programů na hubnutí, než jen pivo po práci. A víte co? Je to opravdu
                                dobré (a to jsem velký skeptik). Zhubnul jsem pár kilo už během prvního týdne, což je
                                skvělé… a dodalo mi to motivaci. Vean navíc stojí rozumné peníze a poskytne vám
                                měřitelné výsledky díky personalizovanému programu, který OPRAVDU FUNGUJE! A nejlepší
                                je, že si pořád můžu dávat pivo… 🔥
                            </p>
                            <div class="swiper__more _show"></div>
                            <p class="swiper__button _show b o">
                                více
                            </p>
                        </div>
                        <img src="img/av2.png" alt="avatar" class="swiper__av">
                        <p class="swiper__results b">
                            František <span class="b g"> - <span class="swiper__value">9</span> <span
                                    class="swiper__unit">
                                    lbs </span> / 2 týdny </span>
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <p class="swiper__title b">
                            «Jsem připravená na baseball»
                        </p>
                        <div class="swiper__letter_container">
                            <p class="swiper__letter">
                                Samozřejmě hrajeme baseball jen pro zábavu… ale i tak jsem chtěl podávat nejlepší výkony
                                a nezklamat svůj tým. Jistě víte, co myslím. Pro mě to znamenalo zhubnout několik kilo
                                před začátkem sezóny. Na Vean jsem narazil náhodou, ale výsledky jsou naprosto
                                ohromující: personalizovaný plán, jídelníček na míru a dokonce i online podpora –
                                opravdu skvělé. Bezpečné, měřitelné a pohodlné hubnutí. Homerun!
                            </p>
                            <div class="swiper__more _show"></div>
                            <p class="swiper__button _show b o">
                                více
                            </p>
                        </div>
                        <img src="img/av3.png" alt="avatar" class="swiper__av">
                        <p class="swiper__results b">
                            Jožka <span class="b g"> - <span class="swiper__value">12</span> <span class="swiper__unit">
                                    lbs </span></span>
                        </p>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="checout__sixth">
            <p class="checout__sixth_title b">
                Lidé se často ptají
            </p>

            <div class="checkout__FQAs">
                <div class="checkout__FQA FQA">
                    <div class="FQA__default">
                        <div class="FQA__title_wrap">
                            <img src="img/icons/FQA_icon.png" alt="FQA" class="FQA__icon">
                            <p class="FQA__title b">
                                Bojím se, že to v půlce vzdám a přestanu dodržovat jídelníček
                            </p>
                        </div>
                        <div class="FQA__arrow"></div>
                    </div>
                    <p class="FQA__opened g">
                        Tomu dobře rozumíme, proto jsme zajistili, že jsou naše jídelníčky podobné běžným
                        typům stravování. Věříme, že i lidé, kteří se živí zejména fastfoodem, budou s
                        našimi jídly spokojení a nikdy nebudou mít hlad.
                    </p>
                </div>

                <div class="checkout__FQA FQA">
                    <div class="FQA__default">
                        <div class="FQA__title_wrap">
                            <img src="img/icons/FQA_icon.png" alt="FQA" class="FQA__icon">
                            <p class="FQA__title b">
                                Nechci se vzdát sladkostí! </p>
                        </div>
                        <div class="FQA__arrow"></div>
                    </div>
                    <p class="FQA__opened g">
                        To ani nemusíte. Víme, jak těžké je zbavit se chuti na sladké, a proto jsme do
                        našich jídelníčků zařadili i sladká jídla. Vybrali jsme je pečlivě a vyrovnaně.
                    </p>
                </div>

                <div class="checkout__FQA FQA">
                    <div class="FQA__default">
                        <div class="FQA__title_wrap">
                            <img src="img/icons/FQA_icon.png" alt="FQA" class="FQA__icon">
                            <p class="FQA__title b">
                                Mohu zhubnout aniž bych cvičil? </p>
                        </div>
                        <div class="FQA__arrow"></div>
                    </div>
                    <p class="FQA__opened g">
                        Jistě! Výživa je pro hubnutí nejdůležitější. Pokud se ale rozhodnete i cvičit, vaše
                        tělo bude pevnější a lépe tvarované. Víme, že je toho opravdu hodně, takže jsou naše
                        tréninky snadné, vhodné i pro začátečníky a nezaberou vám moc času.
                    </p>
                </div>

            </div>

            <div class="checkout__guarantee">
                <p class="checkout__guarantee_title">
                    <img src="img/guarantee_M.png" alt="guarantee" class="checkout__guarantee_img">
                    <span class="b">
                        30denní garance vrácení peněz
                    </span>
                </p>
                <div class="checkout__guarantee_content">
                    <p>
                        Věříme, že s naším plánem skutečně dosáhnete viditelných výsledků už za 4 týdny!
                        Jsme tedy ochotní vám vrátit peníze, pokud nebudete spokojení a prokážete, že jste
                        skutečně dodržovali náš plán.
                    </p>
                    <img src="img/guarantee.png" alt="guarantee" class="checkout__guarantee_img">
                </div>
            </div>
            <p class="checkout__note g">
                <span class="b g"> UPOZORNĚNÍ: </span> Po 1týdenní nabídce musíte svůj profil zrušit online
                před uplynutím aktuální doby, jinak se váš program automaticky změní na 2měsíční plán za
                nezlevněnou cenu a každé dva měsíce vám z karty strhneme <span class="note__cost g"></span>
                2044.99, dokud odběr nezrušíte. Odběr se automaticky prodlužuje na konci každého období,
                pokud ho nezrušíte online ve svém profilu. Pokud si nejste jistí, jak profil zrušit,
                přečtěte si naše Smluvní podmínky. Vždy je nutné zaplatit celý plán dopředu.
            </p>
        </div>

        <button class="chekout__button_next scroll">
            <span class="b"> ZÍSKAT MŮJ PLÁN </span>
            <img src="img/icons/next.png" alt="next">
        </button>
    </div>
</section>
