<section class="contacts">
    <div class="contacts__bg"></div>
    <div class="contacts__content">
        <img src="img/Firecracker.png" alt="Firecracker" class="contacts__firecracker">
        <h3 class="contacts__title b _show">
            Enter your email to get your
            <br>
            <span class="r b">Fitness Plan</span> with Vean
        </h3>
        <h3 class="contacts__title_M b">
            Enter your email to learn how to <span class="r b">lose weight</span> with Vean
        </h3>
        <div class="contacts__respect">
            <img src="img/icons/Lock.png" alt="Lock">
            <p class="contacts__desc g">
                We respect your privacy and are committed to protecting your personal data. We’ll email you a copy of your results for convenient access.
            </p>
        </div>
        <input type="email" placeholder="Enter e-mail" class="contacts__email test__input" name="email" id="email">
        <div class="test__uncorrect r b">
            Enter correct email, pls
        </div>
        <button class="test__button_next" disabled>
            <span  class="b">NEXT STEP</span>
            <img src="img/icons/next.png" alt="next">
        </button>
    </div>
</section>
