<article class="loader">
    <div class="loader__wrapper">
        <div id="loader" class="myBar label-center" style="width: 100%; height: 100%;"></div>
    </div>
    <div class="loader__titles">
        <h2 class="loader__title" data-pos="0">
            Zpracováváme vaše odpovědi
        </h2>
        <h2 class="loader__title" data-pos="1">
            Analyzujeme profil vašeho stravování
        </h2>
        <h2 class="loader__title" data-pos="2">
            Počítáme váš metabolický věk
        </h2>
        <h2 class="loader__title" data-pos="3">
            Přizpůsobujeme program vašemu životnímu stylu
        </h2>
        <h2 class="loader__title" data-pos="4">
            Vybíráme vhodné recepty
        </h2>
        <h2 class="loader__title" data-pos="5">
            Váš personalizovaný jídelníček a tréninkový plán jsou hotové!
        </h2>
    </div>
</article>
