<article class="loader">
    <div class="loader__wrapper">
        <div id="loader" class="myBar label-center" style="width: 100%; height: 100%;"></div>
    </div>
    <div class="loader__titles">
        <h2 class="loader__title" data-pos="0">
            Procesarea răspunsurilor
        </h2>
        <h2 class="loader__title" data-pos="1">
            Analiza profilului tău alimentar
        </h2>
        <h2 class="loader__title" data-pos="2">
            Estimarea vârstei metabolice
        </h2>
        <h2 class="loader__title" data-pos="3">
            Adaptarea planului la stilul tău de viață
        </h2>
        <h2 class="loader__title" data-pos="4">
            Alegerea rețetelor potrivite
        </h2>
        <h2 class="loader__title" data-pos="5">
            Planul tău personalizat de mese și antrenamente este gata!
        </h2>
    </div>
</article>
