<section class="checkout">
    <div class="checkout__header">
        <div class="checkout__sale sale" id="go_to_pay">
            <div class="sale__title b">
                Planul tău este rezervat
            </div>
            <div class="sale__time time">
                <div class="time__minutes minutes">
                    <div class="minutes__value b r"></div>
                    <div class="minutes__text g">
                        minute
                    </div>
                </div>
                <div class="time__points b">
                    :
                </div>
                <div class="time__seconds seconds">
                    <div class="seconds__value b r"></div>
                    <div class="seconds__text g">
                        secunde
                    </div>
                </div>
            </div>
            <button class="chekout__button_next scroll">
                <span class="b"> OBȚINE PLANUL MEU </span>
                <img src="img/icons/next.png" alt="next">
            </button>
        </div>
    </div>

    <div class="checkout__first">
        <h2 class="checkout__title b">
            Start <span class="r b"> pierdut </span>
            <br>
            <span class="r b"> greutate </span> chiar acum
        </h2>
        <button class="chekout__button_next scroll">
            <span class="b"> OBȚINE PLANUL MEU </span>
            <img src="img/icons/next.png" alt="next">
        </button>
        <div class="checkout__featured">
            <p class="checkout__featured_desc g">
                Așa cum este prezentat în:
            </p>
            <img src="img/featured.png" alt="featured" class="checkout__featured_img">
        </div>
        <div class="checkout__main-bg">
            <img src="img/checkout.png" alt="checkout"
                class="checkout__checkout _show">
            <img src="img/checkout_M.png" alt="checkout_M"
                class="checkout_M__checkout">
            <div class="checkout__join_block">
                <ul class="checkout__stars">
                    <div class="checkout__star"></div>
                    <div class="checkout__star"></div>
                    <div class="checkout__star"></div>
                    <div class="checkout__star"></div>
                    <div class="checkout__star"></div>
                </ul>
                <p class="checkout__join_desc">
                    Alătură-te la peste <span class="r b"> 10,000,000 </span> de membri ai
                    <br class="br_M">
                    familiei Vean
                </p>
            </div>
        </div>
    </div>

    <div class="checkout__bg_container">
        <div class="checkout__second">
            <p class="checkout__second_title b">
                CE PRIMEȘTI
            </p>
            <div class="checkout__second_content">
                <ul class="checkout__gets">
                    <div class="checkout__get">
                        <img src="img/icons/weist.png" alt="weist">
                        <p>
                            <span class="b">
                                <span class="b r"> Planuri de pierdere în greutate: </span> adaptat pentru
                                corpul tău
                            </span>
                            Planurile noastre de pierdere în greutate sunt create cu experți de înaltă
                            calificare. Este posibil să nu găsești antrenamente care nu se potrivesc cu
                            starea ta fizică sau care pot fi dăunătoare pentru tine
                        </p>
                    </div>
                    <div class="checkout__get">
                        <img src="img/icons/meal.png" alt="weist">
                        <p>
                            <span class="b">
                                <span class="b r"> Planuri inteligente de mese: </span> obiceiuri noi și
                                sănătoase cu alimente pe care le vei iubi!
                            </span>
                            Nu există alimente bune sau rele. Totul este despre porție și conștientizare.
                            Planurile noastre de mese nu sunt legate de stres. De-a lungul programului vei
                            avea o alimentație adecvată care să răspundă nevoilor tale
                        </p>
                    </div>
                    <div class="checkout__get">
                        <img src="img/icons/support.png" alt="weist">
                        <p>
                            <span class="b">
                                <span class="b r"> Suport zilnic: </span> îngrijire și sprijin la fiecare
                                pas
                            </span>
                            Știm cât poate fi de greu pentru a atinge obiectivul tău și, prin urmare, echipa
                            noastră de suport este mereu în contact. Te rugăm, nu ezita să pui întrebări
                        </p>
                    </div>
                </ul>
                <img src="img/checkout__get.png" alt="checkout__get"
                    class="checkout__get_img">
            </div>
        </div>
    </div>

    <div class="checkout__third">
        <p class="checkout__third_title b">
            ALEGE PLANUL TĂU
        </p>
        <div class="checkout__pay">
            <input id="7_DAY_TRIAL" type="radio" name="tarif" class="checkout__radio" data-price="4"
                checked>
            <label for="7_DAY_TRIAL" class="checkout__tarif tarif" name="tarif"
                data-tarif-id="trial.7.days.vean.ron">

                <div class="tarif__input-text">
                    <div class="tarif__point">
                        <div class="tarif__point_active"></div>
                    </div>
                    <p class="tarif__input_title b">
                        PERIOADA DE PROBĂ DE 7 ZILE
                    </p>
                </div>

                <div class="tarif__price_container">
                    <div class="tarif__triangle"></div>
                    <div class="tarif__price_block">
                        <span class="trial__currenncy b"></span>
                        <span class="b">4</span>
                        <span class="tarif__additional">
                            <span class="tarif__fraction b">.00</span>
                            <span class="tarif__duration"> / 7 zile </span>
                        </span>

                        <span class="tarif__old_price b g"></span>
                    </div>
                </div>
            </label>

            <!-- <input id="2_MONTHS_PLAN" type="radio" name="tarif" class="checkout__radio " data-price="89.99">
<label for="2_MONTHS_PLAN" class="checkout__tarif tarif popular" name="tarif">
    <div class="tarif__popular b">
        MOST POPULAR
    </div>

    <div class="tarif__input-text">
        <div class="tarif__point">
            <div class="tarif__point_active"></div>
        </div>
        <p class="tarif__input_title b">
            2-MONTHS PLAN
        </p>
    </div>

    <div class="tarif__price_container">
        <div class="tarif__triangle"></div>
        <div class="tarif__price_block">
            <span class="trial__currenncy b">$</span>
            <span class="b">89</span>
            <span class="tarif__additional">
                <span class="tarif__fraction">.99</span>
                <span class="tarif__duration">/ 2 months</span>
            </span>
        </div>
    </div>
</label> -->

            <!-- <input id="1_MONTH_PLAN" type="radio" name="tarif" class="checkout__radio" data-price="29.99">
<label for="1_MONTH_PLAN" class="checkout__tarif tarif" name="tarif">

    <div class="tarif__input-text">
        <div class="tarif__point">
            <div class="tarif__point_active"></div>
        </div>
        <p class="tarif__input_title b">
            1-MONTH PLAN
        </p>
    </div>

    <div class="tarif__price_container">
        <div class="tarif__triangle"></div>
        <div class="tarif__price_block">
            <span class="trial__currenncy b">$</span>
            <span class="b">29</span>
            <span class="tarif__additional">
                <span class="tarif__fraction">.99</span>
                <span class="tarif__duration">/ month</span>
            </span>
        </div>
    </div>
</label> -->

            <button class="chekout__button_next js-open-modal target" data-modal="1">
                <span class="b"> OBȚINE PLANUL MEU </span>
                <img src="img/icons/next.png" alt="next">
            </button>
            <p class="checkout__desc g">
                Te poți dezabona în orice moment.
            </p>
            <div class="checkout__guarante">
                <p class="checkout__guarante_title b">
                    Checkout sigur garantat
                </p>
                <img src="img/guarante.png" alt="guarante"
                    class="checkout__guarante_img">
            </div>
        </div>
    </div>

    <div class="checkout__bg_container_second">
        <div class="checkout__fourth">
            <p class="checkout__fourth_title b">
                Oameni la fel ca tine au obținut rezultate foarte bune folosind <span class="b r"> Planurile
                    noastre de pierdere în greutate </span>
            </p>
            <p class="checkout__fourth_desc">
                Suntem mândri de aceste rezultate și abia așteptăm să le vedem pe ale tale!
            </p>

            <div class="swiper swiper_1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper__weight">
                            <p class="swiper__value b">-10</p>
                            <p class="swiper__unit b"> kg </p>
                        </div>
                        <div class="swiper__ba">
                            <div class="swiper__before">
                                <img src="img/b1.png" alt="before"
                                    class="swiper__before_img">
                                <p class="swiper__before_desc">
                                    înainte
                                </p>
                            </div>
                            <div class="swiper__after">
                                <img src="img/a1.png" alt="after"
                                    class="swiper__after_img">
                                <p class="swiper__after_desc">
                                    după
                                </p>
                            </div>
                        </div>

                        <p class="swiper__name b">
                            Maria
                        </p>

                        <p class="swiper__letter">
                            Sunt doar o fată obișnuită care a vrut să dea jos kilogramele în plus din jurul
                            șoldurilor, lucrul pe care încercăm să ne convingem că le place bărbaților.
                            Bineînțeles că glumim cu noi înșine... Era timpul să acționez. Sunt groaznică la
                            autogestionare, așa că am găsit acest program foarte bun pentru că urmărește
                            totul pentru mine: apă, mâncare, calorii... totul. Pentru mine, până acum este
                            atât de bun, programul face ceea ce scrie pe cutie: mă ajută să slăbesc cu
                            suport personal și antrenament. Este și distractiv, ceea ce îmi oferă o mare
                            motivație😊
                        </p>
                        <div class="swiper__letter_container"></div>
                        <div class="swiper__more _show"></div>
                        <p class="swiper__button _show b o">
                            mai mult
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <div class="swiper__weight">
                            <p class="swiper__value b">-11</p>
                            <p class="swiper__unit b"> kg </p>
                        </div>
                        <div class="swiper__ba">
                            <div class="swiper__before">
                                <img src="img/b2.png" alt="before"
                                    class="swiper__before_img">
                                <p class="swiper__before_desc">
                                    înainte
                                </p>
                            </div>
                            <div class="swiper__after">
                                <img src="img/a2.png" alt="after"
                                    class="swiper__after_img">
                                <p class="swiper__after_desc">
                                    după
                                </p>
                            </div>
                        </div>

                        <p class="swiper__name b">
                            Petruța
                        </p>

                        <p class="swiper__letter">
                            Fetelor știți exact cum este, pierderea în greutate este ceva care amânăm
                            întotdeauna până luna viitoare... anul viitor... Ei bine, pentru mine era
                            momentul acum, mai ales când l-am găsit pe Vean. Acești tipi bifează toate
                            casetele: test și plan personal, antrenor personal motivant, repere total
                            realizabile... și provocări. Verificați aceste poze: pierdere în greutate
                            constantă și sigură peste 2 săptămâni. Exact ceea ce căutam! Încerc cu adevărat
                            să învăț obiceiul unui stil de viață sănătos, alimente bune și menținerea unei
                            greutăți noi constante. Este o adevărată provocare, dar acest plan ajută cu
                            adevărat!
                        </p>
                        <div class="swiper__letter_container"></div>
                        <div class="swiper__more _show">

                        </div>
                        <p class="swiper__button _show b o">
                            mai mult
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <div class="swiper__weight">
                            <p class="swiper__value b">-22</p>
                            <p class="swiper__unit b"> kg </p>
                        </div>
                        <div class="swiper__ba">
                            <div class="swiper__before">
                                <img src="img/b3.png" alt="before"
                                    class="swiper__before_img">
                                <p class="swiper__before_desc">
                                    înainte
                                </p>
                            </div>
                            <div class="swiper__after">
                                <img src="img/a3.png" alt="after"
                                    class="swiper__after_img">
                                <p class="swiper__after_desc">
                                    după
                                </p>
                            </div>
                        </div>

                        <p class="swiper__name b">
                            Ioana
                        </p>

                        <p class="swiper__letter">
                            Întotdeauna am acceptat să fiu supraponderală ca fiind normală ... dar nu
                            întineream și voiam să fac ceva pozitiv, să dezvolt în sfârșit niște obiceiuri
                            bune de viață. Vean nu numai că m-a ajutat să dezvolt obiceiuri alimentare
                            sănătoase, ci și m-a învăț multe lucruri! Și programul este simplu de utilizat,
                            chiar și pentru mine! Nu eram sigură despre îndrumările personale la început,
                            dar de fapt este într-adevăr motivant. Mi-au plăcut și provocările, atât de bine
                            să am obiective realizabile!!! Fetelor, am reușit veți putea și voi!!!
                        </p>
                        <div class="swiper__letter_container"></div>
                        <div class="swiper__more _show">

                        </div>
                        <p class="swiper__button _show b o">
                            mai mult
                        </p>
                    </div>
                </div>
                <div class="swiper-pagination"></div>

            </div>

            <p class="checkout__fourth_desc g">
                <span class="b g"> *Declinarea răspunderii: </span> Urmărirea exercițiilor și a unui plan de
                mese este cheia în călătoria ta de fitness și are un impact semnificativ asupra
                rezultatelor. Este neobișnuit să pierzi mai mult de 4 kg pe lună. Consultă mai întâi un
                medic.
            </p>
        </div>
    </div>

    <div class="checkout__bg_container">
        <div class="checkout__fifth">
            <p class="checkout__fifth_title b">
                Utilizatori <span class="b r"> iubesc </span> planurile noastre
            </p>
            <p class="checkout__fifth_desc g">
                Vezi ce spun oamenii despre noi
            </p>

            <div class="swiper swiper_2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <p class="swiper__title b">
                            „Perioadă de probă sigură și lucrativă”
                        </p>
                        <div class="swiper__letter_container">
                            <p class="swiper__letter">
                                Ce pot să spun? Atât de mulțumită de Vean: 7 zile de probă și
                                <span class="swiper__value">2</span> <span class="swiper__unit"> kg </span>
                                pierdute, este minunat și sigur! Nimic spectaculos, fără minuni, doar
                                rezultate bune constante. Și îmi place asta. Îmi voi continua abonamentul,
                                deoarece am nevoie de mai multe kilograme de pierdut.
                            </p>
                            <div class="swiper__more _show"></div>
                            <p class="swiper__button _show b o">
                                mai mult
                            </p>
                        </div>
                        <img src="img/av1.png" alt="avatar" class="swiper__av">
                        <p class="swiper__results b">
                            Raluca, <span class="b g">  — <span class="swiper__value">2</span> <span
                                    class="swiper__unit"> kg </span> / perioadă de probă </span>
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <p class="swiper__title b">
                            „Fără limite alimentare
                            <br>
                            și rezultate bune”
                        </p>
                        <div class="swiper__letter_container">
                            <p class="swiper__letter">
                                Ei bine, am încercat mai multe programe de dietă decât tipuri de înghețată.
                                Aș cam fi renunțat ... dar apoi fetele de la biroul meu mi-au recomandat-o
                                Vean. Și știți ce? Este de fapt destul de bun (și sunt un adevărat sceptic).
                                Am pierdut câteva kilograme bune în prima săptămână, ceea ce a fost
                                minunat... și motivant să merg mai departe. Vean are un preț corect și oferă
                                rezultate măsurabile printr-un program personalizat care pare să funcționeze
                                foarte bine! Și cel mai bine dintre toate, încă mă pot bucura și de
                                înghețata mea… 😊
                            </p>
                            <div class="swiper__more _show"></div>
                            <p class="swiper__button _show b o">
                                mai mult
                            </p>
                        </div>
                        <img src="img/av2.png" alt="avatar" class="swiper__av">
                        <p class="swiper__results b">
                            Olivia, <span class="b g">  — <span class="swiper__value">9</span> <span
                                    class="swiper__unit"> kg </span> / 2 săptămâni </span>
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <p class="swiper__title b">
                            „Mi-am pregătit corpul de plajă”
                        </p>
                        <div class="swiper__letter_container">
                            <p class="swiper__letter">
                                Ei bine, cine nu așteaptă cu nerăbdare o plajă caldă de vară... dar trebuie
                                să dai jos acea greutate de iarnă. Și pentru mine asta a însemnat începerea
                                antrenamentelor înainte de sezonul de plajă. Am găsit Vean din întâmplare,
                                dar rezultatele sunt altceva decât întâmplătoare: plan personalizat, dietă
                                adaptată și chiar suport online, lucruri solide bune. Pierdere în greutate
                                sigură, constantă și măsurabilă. Este pur și simplu uimitor!
                            </p>
                            <div class="swiper__more _show"></div>
                            <p class="swiper__button _show b o">
                                mai mult
                            </p>
                        </div>
                        <img src="img/av3.png" alt="avatar" class="swiper__av">
                        <p class="swiper__results b">
                            Emma, <span class="b g">  — <span class="swiper__value">12</span> <span
                                    class="swiper__unit"> kg </span> / 2,5 săptămâni </span>
                        </p>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="checout__sixth">
            <p class="checout__sixth_title b">
                Oamenii întreabă adesea
            </p>

            <div class="checkout__FQAs">
                <div class="checkout__FQA FQA">
                    <div class="FQA__default">
                        <div class="FQA__title_wrap">
                            <img src="img/icons/FQA_icon.png" alt="FQA"
                                class="FQA__icon">
                            <p class="FQA__title b">
                                Sunt îngrijorat că voi renunța la planul de mese la jumătatea drumului.
                            </p>
                        </div>
                        <div class="FQA__arrow"></div>
                    </div>
                    <p class="FQA__opened g">
                        Am înțeles în totalitate și de aceea ne-am asigurat că planurile noastre de mese
                        sunt cât se poate de similare cu meniul obișnuit. Credem că chiar și cei care
                        trăiesc din fast-food vor fi mulțumiți atât de mese, cât și de rezultate și nu se
                        vor simți niciodată flămânzi.
                    </p>
                </div>

                <div class="checkout__FQA FQA">
                    <div class="FQA__default">
                        <div class="FQA__title_wrap">
                            <img src="img/icons/FQA_icon.png" alt="FQA"
                                class="FQA__icon">
                            <p class="FQA__title b">
                                Nu vreau să abandonez dulciurile! </p>
                        </div>
                        <div class="FQA__arrow"></div>
                    </div>
                    <p class="FQA__opened g">
                        Și nu trebuie. Știm că este greu să scapi de pofta de dulce și am inclus alimente
                        dulci în planul de mese. Am ales dulciuri echilibrate.
                    </p>
                </div>

                <div class="checkout__FQA FQA">
                    <div class="FQA__default">
                        <div class="FQA__title_wrap">
                            <img src="img/icons/FQA_icon.png" alt="FQA"
                                class="FQA__icon">
                            <p class="FQA__title b">
                                Pot pierde in greutate fără efort fizic? </p>
                        </div>
                        <div class="FQA__arrow"></div>
                    </div>
                    <p class="FQA__opened g">
                        Sigur! Nutriția este cel mai important element în pierderea în greutate. Cu toate
                        acestea, dacă adăugi antrenamente, corpul tău va deveni mai tonifiat și definit.
                        Știm că este mult de asumat, iar antrenamentele sunt extrem de ușoare, potrivite
                        pentru începători și vor dura nu prea mult timp.
                    </p>
                </div>

            </div>

            <div class="checkout__guarantee">
                <p class="checkout__guarantee_title">
                    <img src="img/guarantee_M.png" alt="guarantee"
                        class="checkout__guarantee_img">
                    <span class="b">
                        Garanție de returnare a banilor de 30 de zile
                    </span>
                </p>
                <div class="checkout__guarantee_content">
                    <p>
                        Credem că planul nostru poate funcționa pentru tine și vei obține rezultate vizibile
                        în 4 săptămâni! Suntem chiar gata să îți returnăm banii înapoi dacă nu vei vedea
                        rezultate vizibile și poți demonstra că ai urmat planul nostru.
                    </p>
                    <img src="img/guarantee.png" alt="guarantee"
                        class="checkout__guarantee_img">
                </div>
            </div>
            <p class="checkout__note g">
                <span class="b g"> TE RUGĂM SĂ REȚII: </span> După oferta introductivă de 7 zile, cu
                excepția cazului în care anulezi online în profilul tău înainte de sfârșitul perioadei
                curente, planul tău se va converti automat la planul nostru de abonament de 2 luni la un
                preț fără reducere și vei fi taxat 389 <span class="note__cost g"></span> la fiecare 2
                luni înainte de a anula. Abonamentele se reînnoiesc automat la sfârșitul fiecărei perioade,
                cu excepția cazului în care anulezi online în profilul tău. Dacă nu știi sigur cum să
                anulezi, vizitează Termenii de abonament. Este necesară plata în avans a costului total al
                planului. Daca pe card nu sunt suficiente resurse, atunci vor fi decontați 49 lei lunar.
            </p>
        </div>

        <button class="chekout__button_next scroll">
            <span class="b"> OBȚINE PLANUL MEU </span>
            <img src="img/icons/next.png" alt="next">
        </button>
    </div>
</section>
