<section class="contacts">
    <div class="contacts__bg"></div>
    <div class="contacts__content">
        <img src="img/Firecracker.png" alt="Firecracker" class="contacts__firecracker">
        <h3 class="contacts__title b _show">
            Introdu adresa ta de e-mail pentru a obține
            <br>
            <span class="r b"> Planul de fitness </span> cu Vean
        </h3>
        <h3 class="contacts__title_M b">
            Introdu adresa ta de e-mail pentru a afla cum să  <span class="r b"> pierzi în greutate </span>
            cu Vean
        </h3>
        <div class="contacts__respect">
            <img src="img/icons/Lock.png" alt="Lock">
            <p class="contacts__desc g">
                Îți respectăm confidențialitatea și ne angajăm să îți protejăm datele personale. Îți vom
                trimite o copie a rezultatelor tale pentru acces convenabil.
            </p>
        </div>
        <input type="email" placeholder="Introdu adresa de e-mail" class="contacts__email test__input"
            name="email" id="email">
        <div class="test__uncorrect r b">
            Introdu e-mailul corect
        </div>
        <button class="test__button_next" disabled>
            <span class="b"> PASUL URMĂTOR </span>
            <img src="img/icons/next.png" alt="next">
        </button>
    </div>
</section>
