<section class="plan">
    <div class="plan__first">
        <h2 class="plan__title _show b">
            Otrzymaj swój <span class="r b"> Osobisty </span>
            <br>
            Plan Odchudzania
        </h2>
        <h2 class="plan__title_M b">
            Twój <span class="r b"> Osobisty </span>
            <br>
            Plan Odchudzania
        </h2>
        <button class="test__button_next">
            <span class="b"> ODBIERZ PLAN </span>
            <img src="img/icons/next.png" alt="next">
        </button>
        <img src="img/plan.png" alt="plan" class="plan__plan">
    </div>

    <div class="plan__light_container">
        <div class="plan__second">
            <p class="plan__second_title b">
                Na podstawie swoich odpowiedzi, będziesz...
            </p>
            <div class="plan__weight">
                <span class="plan__goal_weight b" data-goal_weight="-2"></span>
                <span class="plan__goal_weight b" data-goal_weight="-1"></span>
                <span class="plan__goal_weight b" data-goal_weight="0"></span>
                <span class="plan__goal_weight b" data-goal_weight="1"></span>
                <span class="plan__goal_weight b" data-goal_weight="2"></span>
            </div>
            <p class="plan__unit_type b"></p>
            <p class="plan__goal_date b"> przez </p>

            <div class="plan__graph_up">
                <img src="img/plan__graph_up.png" alt="plan__graph_up" class="plan__graph">
                <div class="plan__start_point">
                    <p class="plan__start_weight b"></p>
                    <p class="plan__start_weight_type b"></p>
                </div>
                <div class="plan__goal_point">
                    Cel
                    <br>
                    Waaga
                </div>
                <div class="plan__graph_dates">
                    <div class="plan__graph_date_1"></div>
                    <div class="plan__graph_date_2"></div>
                    <div class="plan__graph_date_3"></div>
                </div>
            </div>

            <div class="plan__graph_doun">
                <img src="img/plan__graph_doun.png" alt="plan__graph_doun" class="plan__graph">
                <div class="plan__start_point">
                    <p class="plan__start_weight b"></p>
                    <p class="plan__start_weight_type b"></p>
                </div>
                <div class="plan__goal_point b">
                    Cel
                    <br>
                    Waga
                </div>
                <div class="plan__graph_dates">
                    <div class="plan__graph_date_1 b"></div>
                    <div class="plan__graph_date_2 b"></div>
                    <div class="plan__graph_date_3 b"> przez </div>
                </div>
            </div>
        </div>
    </div>

    <div class="plan__third">
        <div class="plan__results">
            <p class="plan__results_title b">
                <span class="r b"> Długotrwałe Efekty </span>
                <br>
                Z Osobistym Planem
            </p>
            <div class="plan__similar">
                <div class="staticBar" style="width: 72px; height: 72px;"></div>
                <div class="plan__simuler_desc">
                    <p class="ww">
                        ludzi o podobnych profilach
                    </p>
                    <p class="ww b">
                        schudło stosując plany Vean
                    </p>
                </div>
            </div>
        </div>
        <p class="plan__summary_title b">
            Osobiste Podsumowanie
        </p>
        <div class="plan__summary">
            <div class="plan__recommendation recommendation">
                <div class="recommendation__top">
                    <span class="recommendation__title b">
                        BMI
                    </span>
                    <span class="recommendation__conclusion healthy b o"> Zdrowo </span>
                </div>
                <div class="recommendation__desc g">
                    Twoje BMI
                </div>
                <div class="recommendation__BMI_range">
                    <div class="recommendation__BMI_input" data-bmi="0"></div>
                </div>
                <div class="recommendation__minmax">
                    <span class="recommendation__min b g">
                        10
                    </span>
                    <span class="recommendation__max b g">
                        60
                    </span>
                </div>
            </div>
            <div class="plan__recommendation recommendation">
                <div class="recommendation__top">
                    <span class="recommendation__title b">
                        Wody
                    </span>
                    <span class="recommendation__conclusion water b o"> Spożycie </span>
                </div>
                <div class="recommendation__desc g">
                    Rekomendowana Woda
                </div>
                <div class="recommendation__glasses">
                    <div class="recommendation__glass"></div>
                    <div class="recommendation__glass"></div>
                    <div class="recommendation__glass"></div>
                    <div class="recommendation__glass"></div>
                    <div class="recommendation__glass"></div>
                    <div class="recommendation__glass"></div>
                    <div class="recommendation__glass"></div>
                    <div class="recommendation__glass"></div>
                    <div class="recommendation__glass"></div>
                    <div class="recommendation__glass"></div>
                </div>
            </div>
            <div class="plan__recommendation recommendation">
                <div class="recommendation__top">
                    <span class="recommendation__title b">
                        Kalorie
                    </span>
                    <span class="recommendation__conclusion cal b o"> Cal </span>
                </div>
                <div class="recommendation__desc g">
                    Zalecane dzienne
                </div>
                <div class="recommendation__calories_range">
                    <div class="recommendation__calories_input" data-calories=" Cal"></div>
                </div>
                <div class="recommendation__minmax">
                    <span class="recommendation__min b g">
                        1000 Cal
                    </span>
                    <span class="recommendation__max b g">
                        5000 Cal
                    </span>
                </div>
            </div>
            <div class="plan__recommendation recommendation excited">
                <div class="recommendation__container">
                    <p class="recommendation__title b">
                        Ekscytuj się!
                    </p>
                    <p class="recommendation__desc g">
                        Oto jak przewidujemy, zmiany w twoim ciele
                    </p>
                </div>
                <div>
                    <hr class="recommendation__gray_line">
                    <div class="recommendation__b_a">
                        <img src="img/plan__before.png" alt="plan__before" class="plan__before">
                        <img src="img/plan__after.png" alt="plan__after" class="plan__after">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="test__button_next">
        <span class="b"> KONTYNUUJ </span>
        <img src="img/icons/next.png" alt="next">
    </button>
</section>
