<section class="contacts">
    <div class="contacts__bg"></div>
    <div class="contacts__content">
        <img src="img/Firecracker.png" alt="Firecracker" class="contacts__firecracker">
        <h3 class="contacts__title b _show">
            Zadejte svoji emailovou adresu a získejte svůj
            <br>
            <span class="r b"> fitness plán </span> s Vean
        </h3>
        <h3 class="contacts__title_M b">
            Zadejte svůj email a dozvíte se, jak <span class="r b"> zhubnout </span> s Vean
        </h3>
        <div class="contacts__respect">
            <img src="img/icons/Lock.png" alt="Lock">
            <p class="contacts__desc g">
                Respektujeme vaše soukromí a chráníme vaše osobní údaje. Zašleme vám kopii vašich výsledků
                pro snadný přístup k těmto informacím.
            </p>
        </div>
        <input type="email" placeholder="Zadejte svůj email  " class="contacts__email test__input"
            name="email" id="email">
        <div class="test__uncorrect r b">
            Zadejte prosím správnou emailovou adresu
        </div>
        <button class="test__button_next" disabled>
            <span class="b"> DALŠÍ KROK </span>
            <img src="img/icons/next.png" alt="next">
        </button>
    </div>
</section>
