<section class="test q1 _show">
    <div class="test__bg_cont">
        <div class="test__bg">
            <img src="img/goal.png" alt="goal" class="test__bg_main">
            <img src="img/icons/goal_icon.png" alt="goal_icon" class="test__bg_icon">
        </div>
    </div>

    <div class="test__question">
        <h3 class="test__title b">
            What is your primary goal?
        </h3>
        <ul class="test__inputs">
            <input id="radio-0" type="radio" name="goal" class="test__radio">
            <label for="radio-0" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Lose weight
                    </p>
                    <p class="test__input_desc g">
                        Start torching calories and melting fat
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-1" type="radio" name="goal" class="test__radio">
            <label for="radio-1" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Gain muscle
                    </p>
                    <p class="test__input_desc g">
                        Force your muscles to grow faster
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-2" type="radio" name="goal" class="test__radio">
            <label for="radio-2" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Develop healthy habits
                    </p>
                    <p class="test__input_desc g">
                        Say no to food cravings and become a healthy eater
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
        </ul>
    </div>
</section>

<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<section class="test q2">
    <div class="test__bg_cont">
        <div class="test__bg">
            <img src="img/age.png" alt="age" class="test__bg_main">
            <img src="img/icons/age_icon.png" alt="age_icon" class="test__bg_icon">
        </div>
    </div>

    <div class="test__question">
        <h3 class="test__title b">
            What is your age?
        </h3>
        <ul class="test__inputs">
            <input id="radio-3" type="radio" name="age" class="test__radio" data-age="20">
            <label for="radio-3" class="test__label" name="age" data-age="20">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        20s
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-4" type="radio" name="age" class="test__radio" data-age="30">
            <label for="radio-4" class="test__label" name="age" data-age="30">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        30s
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-5" type="radio" name="age" class="test__radio" data-age="40">
            <label for="radio-5" class="test__label" name="age" data-age="40">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        40s
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-6" type="radio" name="age" class="test__radio" data-age="50">
            <label for="radio-6" class="test__label" name="age" data-age="50">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        50+
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
        </ul>
    </div>
</section>

<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<section class="test q3 no_bg grid">
    <div class="test__bg_cont">
        <div class="test__bg">
            <img src="img/body_type.png" alt="body_type" class="test__bg_main">
            <img src="img/icons/body_type_icon.png" alt="body_type_icon" class="test__bg_icon">
        </div>
    </div>

    <div class="test__question">
        <h3 class="test__title b">
            Choose your body type
        </h3>
        <p class="test__desc g">
            Select the one that is most similar to your now. There's no good or bad body types
        </p>
        <ul class="test__inputs">
            <input id="radio-7" type="radio" name="age" class="test__radio">
            <label for="radio-7" class="test__label">
                <div class="test__input_img">
                    <img src="img/Square_shaped.png" alt="Square_shaped">
                </div>
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Square-shaped
                    </p>
                    <p class="test__input_desc g">
                        naturally wide shoulders and thighs.
                        <p class="green b">Fast&#160;metabolism</p>
                    </p>
                </div>
            </label>
            <input id="radio-8" type="radio" name="age" class="test__radio">
            <label for="radio-8" class="test__label">
                <div class="test__input_img">
                    <img src="img/Apple_shaped.png" alt="Apple_shaped">
                </div>
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Apple-shaped
                    </p>
                    <p class="test__input_desc g">
                        naturally wide torso and broad shoulders.
                        <p class="o b">Average&#160;metabolism</p>
                    </p>
                </div>
            </label>
            <input id="radio-9" type="radio" name="age" class="test__radio">
            <label for="radio-9" class="test__label">
                <div class="test__input_img">
                    <img src="img/Hourglass.png" alt="Hourglass">
                </div>
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Hourglass
                    </p>
                    <p class="test__input_desc g">
                        wide bust and hips, a narrow waist.
                        <p class="b">Mixed&#160;metabolism</p>
                    </p>
                </div>
            </label>
            <label for="radio-9" class="test__label">
                <div class="test__input_img">
                    <img src="img/Pear.png" alt="Pear">
                </div>
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Pear
                    </p>
                    <p class="test__input_desc g">
                        naturally slimmer shoulders and thicker thighs.
                        <p class="r b">Low&#160;metabolism</p>
                    </p>
                </div>
            </label>
        </ul>
    </div>
</section>

<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<section class="test q4">
    <div class="test__bg_cont">
        <div class="test__bg">
            <img src="img/tall_M.png" alt="tall" class="test__bg_main_M">
            <img src="img/tall.png" alt="tall" class="test__bg_main">
            <img src="img/icons/tall_icon.png" alt="tall_icon" class="test__bg_icon">
        </div>
    </div>

    <div class="test__question">
        <h3 class="test__title b">
            How tall are you?
        </h3>
        <div class="test__unit_type">
            <input id="ft_r" type="radio" name="tall">
            <label for="ft_r">
                FT
            </label>
            <input id="cm_r" type="radio" name="tall" checked>
            <label for="cm_r">
                CM
            </label>
        </div>
        <div class="test_unit_f">
            <input id="ft" type="tel" maxlength="3" class="test__input" name="tall" required>
            <label for="ft">
                ft
            </label>
            <input id="in" type="tel" maxlength="3" class="test__input" name="tall" required>
            <label for="in">
                in
            </label>
        </div>
        <div class="test_unit_s _show">
            <input id="cm" type="tel" maxlength="3" class="test__input" name="tall" required>
            <label for="cm">
                cm
            </label>
        </div>
        <button class="test__button_next" disabled>
            <span class="b">NEXT STEP</span>
            <img src="img/icons/next.png" alt="next">
        </button>
    </div>
</section>

<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<section class="test q5">
    <div class="test__bg_cont">
        <div class="test__bg">
            <img src="img/cur_weight.png" alt="cur_weight" class="test__bg_main">
            <img src="img/icons/goal_weight_icon.png" alt="goal_weight_icon" class="test__bg_icon">
        </div>
    </div>

    <div class="test__question">
        <h3 class="test__title b">
            What’s your current weight?
        </h3>
        <div class="test__unit_type">
            <input id="lbs_0" type="radio" name="curent_weight">
            <label for="lbs_0">
                LBS
            </label>
            <input id="kg_0" type="radio" name="curent_weight" checked>
            <label for="kg_0">
                KG
            </label>
        </div>
        <div class="test_unit_f">
            <input id="lbs_C" type="tel" maxlength="3" class="test__input" name="lbs" class="test__lbs">
            <label for="lbs_C">
                lbs
            </label>
        </div>
        <div class="test_unit_s _show">
            <input id="kg_C" type="tel" maxlength="3" class="test__input" name="kg" class="test__kg">
            <label for="kg_C">
                kg
            </label>
        </div>
        <button class="test__button_next" disabled>
            <span class="b">NEXT STEP</span>
            <img src="img/icons/next.png" alt="next">
        </button>
    </div>
</section>

<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<section class="test q6">
    <div class="test__bg_cont">
        <div class="test__bg">
            <img src="img/goal_weight.png" alt="goal_weight" class="test__bg_main">
            <img src="img/icons/goal_weight_icon.png" alt="goal_weight_icon" class="test__bg_icon">
            <div class="goal_graph_wrap">
                <div class="goal_graph_container">
                    <img src="img/goal_weight_graph.png" alt="goal_weight_graph" class="test__bg_graph">
                    <span class="goal_graph_title b d">
                        Your Weight
                    </span>
                    <span class="goal_graph_date d">
                        in 2 month
                    </span>
                    <span class="goal_graph_own d">
                        On your own
                    </span>
                    <span class="goal_graph_workouts b d">
                        Your results with Vean meal
                        <br>
                        plans and smart workouts!
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="test__question">
        <h3 class="test__title b">
            Got it! And what's your
            <br>
            goal weight?
        </h3>
        <div class="test__unit_type">
            <input id="lbs_1" type="radio" name="goal_weight" class="test__unit_lbs">
            <label for="lbs_1">
                LBS
            </label>
            <input id="kg_1" type="radio" name="goal_weight" class="test__unit_kg" checked>
            <label for="kg_1">
                KG
            </label>
        </div>
        <div class="test_unit_f">
            <input id="lbs_G" type="tel" maxlength="3" class="test__input" name="lbs" class="test__lbs">
            <label for="lbs_G">
                lbs
            </label>
        </div>
        <div class="test_unit_s _show">
            <input id="kg_G" type="tel" maxlength="3" class="test__input" name="kg" class="test__kg">
            <label for="kg_G">
                kg
            </label>
        </div>
        <button class="test__button_next" disabled>
            <span class="b">NEXT STEP</span>
            <img src="img/icons/next.png" alt="next">
        </button>
    </div>
</section>

<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<section class="test q7">
    <div class="test__bg_cont">
        <div class="test__bg">
            <img src="img/day.png" alt="day" class="test__bg_main">
            <img src="img/icons/day_icon.png" alt="day_icon" class="test__bg_icon">
        </div>
    </div>

    <div class="test__question">
        <h3 class="test__title b">
            Please, describe your
            <br class="br_M">
            typical day
        </h3>
        <ul class="test__inputs">
            <input id="radio-10" type="radio" name="day" class="test__radio">
            <label for="radio-10" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        At the office
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-11" type="radio" name="day" class="test__radio">
            <label for="radio-11" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Daily long walks
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-12" type="radio" name="day" class="test__radio">
            <label for="radio-12" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Physical work
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-13" type="radio" name="day" class="test__radio">
            <label for="radio-13" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Mostly at home
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
        </ul>
    </div>
</section>

<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<section class="test q8 no_bg grid">
    <div class="test__bg_cont">
        <div class="test__bg">
            <img src="img/food.png" alt="food" class="test__bg_main">
            <img src="img/icons/food_icon.png" alt="food_icon" class="test__bg_icon">
        </div>
    </div>

    <div class="test__question">
        <div class="test__title b">
            Select habits
            <br class="br_M">
            that are true for you
        </div>
        <ul class="test__inputs">
            <input id="checkbox-0" type="checkbox" name="habits" class="test__input">
            <label for="checkbox-0">
                <div class="test__input_img">
                    <!-- <img src="img/icons/Alcohol.png" alt="Alcohol"> -->
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            Alcohol
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="checkbox-1" type="checkbox" name="habits" class="test__input">
            <label for="checkbox-1">
                <div class="test__input_img">
                    <!-- <img src="img/icons/Smoking.png" alt="Smoking"> -->
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            Smoking
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="checkbox-2" type="checkbox" name="habits" class="test__input">
            <label for="checkbox-2">
                <div class="test__input_img">
                    <img src="img/icons/Treats.png" alt="Treats">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            Sweet treats
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="checkbox-3" type="checkbox" name="habits" class="test__input">
            <label for="checkbox-3">
                <div class="test__input_img">
                    <img src="img/icons/Beverages.png" alt="Beverages">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            Carbonated beverages
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="checkbox-4" type="checkbox" name="habits" class="test__input">
            <label for="checkbox-4">
                <div class="test__input_img">
                    <img src="img/icons/Salt.png" alt="Salt">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            Salty foods
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="checkbox-5" type="checkbox" name="habits" class="test__input">
            <label for="checkbox-5">
                <div class="test__input_img">
                    <img src="img/icons/pizza.png" alt="pizza">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            Eating in front of the TV
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>

            <input id="checkbox-6" type="checkbox" name="habits" class="test__nothing">
            <label for="checkbox-6">
                <div class="test__input_img">
                    <img src="img/icons/Cross.png" alt="Cross">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            None of the above
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
        </ul>
        <button class="test__button_next" disabled>
            <span class="b">NEXT STEP</span>
            <img src="img/icons/next.png" alt="next">
        </button>
    </div>
</section>

<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<section class="test q9">
    <div class="test__bg_cont">
        <div class="test__bg">
            <img src="img/activity.png" alt="activity" class="test__bg_main">
            <img src="img/icons/activity_icon.png" alt="activity_icon" class="test__bg_icon">
        </div>
    </div>

    <div class="test__question">
        <h3 class="test__title b">
            Your physical activity
        </h3>
        <ul class="test__inputs">
            <input id="radio-14" type="radio" name="activity" class="test__radio">
            <label for="radio-14" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Almost none
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-15" type="radio" name="activity" class="test__radio">
            <label for="radio-15" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Only walks
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-16" type="radio" name="activity" class="test__radio">
            <label for="radio-16" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Fitness 1-2 times a week
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-17" type="radio" name="activity" class="test__radio">
            <label for="radio-17" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Fitness 3-5 times a week
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-18" type="radio" name="activity" class="test__radio">
            <label for="radio-18" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Fitness 5-7 times a week
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
        </ul>
    </div>
</section>

<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<section class="test q10 no_bg icons">
    <div class="test__bg_cont">
        <div class="test__bg">
            <img src="img/lunges.png" alt="lunges" class="test__bg_main">
            <img src="img/icons/lunges_icon.png" alt="lunges_icon" class="test__bg_icon">
        </div>
    </div>

    <div class="test__question">
        <h3 class="test__title b">
            How many lunges could you do?
        </h3>
        <ul class="test__inputs">
            <input id="radio-19" type="radio" name="lunges" class="test__radio">
            <label for="radio-19" class="test__label">
                <div class="test__input_img">
                    <img src="img/icons/1-10.png" alt="1-10">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            1-10
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-20" type="radio" name="lunges" class="test__radio">
            <label for="radio-20" class="test__label">
                <div class="test__input_img">
                    <img src="img/icons/10-20.png" alt="10-20">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            10-20
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-21" type="radio" name="lunges" class="test__radio">
            <label for="radio-21" class="test__label">
                <div class="test__input_img">
                    <img src="img/icons/20-40.png" alt="20-40">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            20-40
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-22" type="radio" name="lunges" class="test__radio">
            <label for="radio-22" class="test__label">
                <div class="test__input_img">
                    <img src="img/icons/40.png" alt="40">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            More than 40
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
        </ul>
    </div>
</section>

<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<section class="test q11">
    <div class="test__bg_cont">
        <div class="test__bg">
            <img src="img/exercise.png" alt="exercise" class="test__bg_main">
            <img src="img/icons/exercise_icon.png" alt="exercise_icon" class="test__bg_icon">
        </div>
    </div>

    <div class="test__question">
        <h3 class="test__title b">
            Which exercise is your
            <br>
            least favorite?
        </h3>
        <ul class="test__inputs">
            <input id="radio-23" type="radio" name="exercise" class="test__radio">
            <label for="radio-23" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Dumbbell exercises
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-24" type="radio" name="exercise" class="test__radio">
            <label for="radio-24" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Lunges
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-25" type="radio" name="exercise" class="test__radio">
            <label for="radio-25" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Boxing
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
        </ul>
    </div>
</section>

<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<section class="test q12">
    <div class="test__bg_cont">
        <div class="test__bg">
            <img src="img/time.png" alt="time" class="test__bg_main">
            <img src="img/icons/time_icon.png" alt="time_icon" class="test__bg_icon">
        </div>
    </div>

    <div class="test__question">
        <h3 class="test__title b">
            How much time do you
            <br>
            want to work out?
        </h3>
        <ul class="test__inputs">
            <input id="radio-26" type="radio" name="time" class="test__radio">
            <label for="radio-26" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        10-15 min
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-27" type="radio" name="time" class="test__radio">
            <label for="radio-27" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        15-25 min
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-28" type="radio" name="time" class="test__radio">
            <label for="radio-28" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        25+ min
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-29" type="radio" name="time" class="test__radio">
            <label for="radio-29" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        I don’t know
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
        </ul>
    </div>
</section>

<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<section class="test q13">
    <div class="test__bg_cont">
        <div class="test__bg">
            <img src="img/times.png" alt="times" class="test__bg_main">
            <img src="img/icons/times_icon.png" alt="times_icon" class="test__bg_icon">
        </div>
    </div>

    <div class="test__question">
        <h3 class="test__title b">
            How many times per week would you like to train?
        </h3>
        <ul class="test__inputs">
            <input id="radio-30" type="radio" name="times" class="test__radio">
            <label for="radio-30" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        1-2 times
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-31" type="radio" name="times" class="test__radio">
            <label for="radio-31" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        3-4 times
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-32" type="radio" name="times" class="test__radio">
            <label for="radio-32" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        5+ times
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
        </ul>
    </div>
</section>

<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<section class="test q14">
    <div class="test__bg_cont">
        <div class="test__bg">
            <img src="img/energy.png" alt="energy" class="test__bg_main">
            <img src="img/icons/energy_icon.png" alt="energy_icon" class="test__bg_icon">
        </div>
    </div>

    <div class="test__question">
        <h3 class="test__title b">
            How is your energy
            <br>
            during the day?
        </h3>
        <ul class="test__inputs">
            <input id="radio-33" type="radio" name="energy" class="test__radio">
            <label for="radio-33" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        I can maintain a good level all day long
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-34" type="radio" name="energy" class="test__radio">
            <label for="radio-34" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        I feel exhausted before lunch
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-35" type="radio" name="energy" class="test__radio">
            <label for="radio-35" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        I feel sluggish after a meal
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
        </ul>
    </div>
</section>

<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<section class="test q15">
    <div class="test__bg_cont">
        <div class="test__bg">
            <img src="img/place.png" alt="place" class="test__bg_main">
            <img src="img/icons/place_icon.png" alt="place_icon" class="test__bg_icon">
        </div>
    </div>

    <div class="test__question">
        <h3 class="test__title b">
            Select preferred place
            <br class="br_M">
            to work out
        </h3>
        <ul class="test__inputs">
            <input id="radio-36" type="radio" name="place" class="test__radio">
            <label for="radio-36" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Gym
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-37" type="radio" name="place" class="test__radio">
            <label for="radio-37" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Home
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
        </ul>
    </div>
</section>

<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<section class="test q16">
    <div class="test__bg_cont">
        <div class="test__bg">
            <img src="img/sleep.png" alt="sleep" class="test__bg_main">
            <img src="img/icons/sleep_icon.png" alt="sleep_icon" class="test__bg_icon">
        </div>
    </div>

    <div class="test__question">
        <h3 class="test__title b">
            How much do you
            <br class="br_M">
            normally sleep?
        </h3>
        <ul class="test__inputs">
            <input id="radio-38" type="radio" name="sleep" class="test__radio">
            <label for="radio-38" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        Less than 5 hours
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-39" type="radio" name="sleep" class="test__radio">
            <label for="radio-39" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        5-6 hours
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-40" type="radio" name="sleep" class="test__radio">
            <label for="radio-40" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        7-8 hours
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-41" type="radio" name="sleep" class="test__radio">
            <label for="radio-41" class="test__label">
                <div class="test__input-text">
                    <p class="test__input_title b">
                        More than 8 hours
                    </p>
                </div>
                <div class="test__point"></div>
            </label>
        </ul>
    </div>
</section>

<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<section class="test q17 no_bg icons">
    <div class="test__bg_cont">
        <div class="test__bg">
            <img src="img/water.png" alt="water" class="test__bg_main">
            <img src="img/icons/water_icon.png" alt="water_icon" class="test__bg_icon">
        </div>
    </div>

    <div class="test__question">
        <h3 class="test__title b">
            How much water
            <br>
            do you drink daily?
        </h3>
        <ul class="test__inputs">
            <input id="radio-42" type="radio" name="water" class="test__radio">
            <label for="radio-42" class="test__label">
                <div class="test__input_img">
                    <img src="img/icons/Coffee.png" alt="Coffee">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            Only coffee or tea
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-43" type="radio" name="water" class="test__radio">
            <label for="radio-43" class="test__label">
                <div class="test__input_img">
                    <img src="img/icons/Drop.png" alt="Drop">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            Less than 2 glasses (16 oz)
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-44" type="radio" name="water" class="test__radio">
            <label for="radio-44" class="test__label">
                <div class="test__input_img">
                    <img src="img/icons/Drops.png" alt="Drops">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            2-6 glasses (16-48 oz)
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-45" type="radio" name="water" class="test__radio">
            <label for="radio-45" class="test__label">
                <div class="test__input_img">
                    <img src="img/icons/Ocean.png" alt="Ocean">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            More than 6 glasses
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
        </ul>
    </div>
</section>

<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<section class="test q18 no_bg grid icons">
    <div class="test__bg_cont">
        <div class="test__bg">
            <img src="img/diet.png" alt="diet" class="test__bg_main">
            <img src="img/icons/diet_icon.png" alt="diet_icon" class="test__bg_icon">
        </div>
    </div>

    <div class="test__question">
        <h3 class="test__title b">
            Choose your diet type
        </h3>
        <ul class="test__inputs">
            <input id="radio-46" type="radio" name="diet" class="test__radio">
            <label for="radio-46" class="test__label">
                <div class="test__input_img">
                    <img src="img/icons/Traditional.png" alt="Traditional">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            Traditional
                        </p>
                        <p class="test__input_desc g">
                            I enjoy everything
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-47" type="radio" name="diet" class="test__radio">
            <label for="radio-47" class="test__label">
                <div class="test__input_img">
                    <img src="img/icons/Vegetarian.png" alt="Vegetarian">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            Mediterranean diet
                        </p>
                        <p class="test__input_desc g">
                            High on veggies, nuts, low on meat
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-48" type="radio" name="diet" class="test__radio">
            <label for="radio-48" class="test__label">
                <div class="test__input_img">
                    <img src="img/icons/Vegetarian2.png" alt="Vegetarian2">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            Vegetarian (Plant Diet)
                        </p>
                        <p class="test__input_desc g">
                            I do not eat animal products
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-49" type="radio" name="diet" class="test__radio">
            <label for="radio-49" class="test__label">
                <div class="test__input_img">
                    <img src="img/icons/Vegan.png" alt="Vegan">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            Vegetarian
                        </p>
                        <p class="test__input_desc g">
                            I avoid meat and fish
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-50" type="radio" name="diet" class="test__radio">
            <label for="radio-50" class="test__label">
                <div class="test__input_img">
                    <img src="img/icons/Keto.png" alt="Keto">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            Keto
                        </p>
                        <p class="test__input_desc g">
                            I like low-carb meals for fast metabolism
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-51" type="radio" name="diet" class="test__radio">
            <label for="radio-51" class="test__label">
                <div class="test__input_img">
                    <img src="img/icons/Pescatarian.png" alt="Pescatarian">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            Keto Vegan
                        </p>
                        <p class="test__input_desc g">
                            I like low-carb meals and avoid animal products
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-52" type="radio" name="diet" class="test__radio">
            <label for="radio-52" class="test__label">
                <div class="test__input_img">
                    <img src="img/icons/Lactose_Free.png" alt="Lactose_Free">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            Lactose Free
                        </p>
                        <p class="test__input_desc g">
                            I do not take milk products
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-53" type="radio" name="diet" class="test__radio">
            <label for="radio-53" class="test__label">
                <div class="test__input_img">
                    <img src="img/icons/Gluten_Free.png" alt="Gluten_Free">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            Pescatarian
                        </p>
                        <p class="test__input_desc g">
                            I avoid meat but enjoy fish
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-54" type="radio" name="diet" class="test__radio">
            <label for="radio-54" class="test__label">
                <div class="test__input_img">
                    <img src="img/icons/Paleo.png" alt="Paleo">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            Paleo
                        </p>
                        <p class="test__input_desc g">
                            Little processed foods, extra veggies and fruit
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
            <input id="radio-55" type="radio" name="diet" class="test__radio">
            <label for="radio-55" class="test__label">
                <div class="test__input_img">
                    <img src="img/icons/Mediterranean.png" alt="Mediterranean">
                    <div class="test__input-text">
                        <p class="test__input_title b">
                            Gluten Free
                        </p>
                        <p class="test__input_desc g">
                            No wheat for me, please!
                        </p>
                    </div>
                </div>
                <div class="test__point"></div>
            </label>
        </ul>
    </div>
</section>
